.icono2 {
    font-size: 25px; //Preferred size here
    right: 150px;
    padding: 0%;
    margin-left: 90%;
    margin-bottom: 0%;
}

ion-img{
    margin-top: -30%;
    height: 90px;
    width: 90px;
}
p{
    padding: 0%;
}

.boton{
    height: 15px !important;
    font-size: 10px;
}

.icono{
    border-radius: 50%;
    /* margin-left: -10%;
    margin-top: -50%; */
    margin-right: 10px;
}
.icono ion-icon{
    font-size: 30px; //Preferred size here
    padding: 5px;
    right: 150px;
}

.numero{
    border-radius: 47%;
    margin-top: 6%;
    margin-right: 5px;
    margin-left: -19px;
    --color:#ffffff;
    --background:#00BBF1;
}

ion-card-header{
    padding: 0%;
}

.my-custom-class {
    --height:25rem;
}

.alignme {
    float: right !important;
    height: 15px;
    width: 15px;
}

.ske{
 border-radius: 30px;
}

.skeleton{
    margin-left: 10px;
}