<app-header [titulo]="nombre"></app-header>
<!-- <ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        color="primary">
      </ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize" class="ion-text-center" color="primary">
      {{servicios|titlecase}}
    </ion-title>

    <ion-badge slot="end" class="icono" routerLink="/carrito">
      <ion-icon name="cart" color="light"></ion-icon>
    </ion-badge>
    <ion-badge slot="end" class="numero">12</ion-badge>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" *ngFor="let item of ambulanciaSI | slice: 0:slice" class="animate__animated animate__zoomIn animate__faster">
        <ion-card class="ion-padding">
          <ion-icon name="information-circle" color="dark" class="icono2" (click)="presentPopover($event,item)"></ion-icon>
          <p align="center"><ion-img src="/assets/icons/servicios/ambulancia/ambulance.svg"></ion-img></p>
          <ion-card-header>
            <ion-card-subtitle class="ion-text-center">{{item.DESTINO}}</ion-card-subtitle>
          </ion-card-header>
  
          <ion-button expand="block" (click)="onClick($event, item)" class="boton">
            Agregar
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- Skeleton screen -->
  <ion-grid fixed *ngIf="ambulanciaSI==''">
    <ion-row>
      <ion-col size="6" *ngFor="let item of [1,1,1,1,1,1,1,1,1,1]" class="animate__animated animate__fadeIn animate__faster">
        <ion-card class="ion-padding">
          <ion-avatar class="alignme">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <p align="center"> <ion-skeleton-text animated style="width: 90px; height: 90px;"></ion-skeleton-text></p>
          <ion-card-header>
            <ion-card-subtitle class="skeleton">
              <ion-label>
                <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
              </ion-label>
            </ion-card-subtitle>
          </ion-card-header>
          <p align="center" class="ske">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll threshold="100px" 
                      (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="lines-small"
      loadingText="Cargando mas destinos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="block" (click)="pedirAmbulancia()">
      Solicitar Ambulancia
    </ion-button>
  </ion-toolbar>
</ion-footer>