<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="salirModal()">
        <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>

    <ion-title class="ion-text-capitalize" class="ion-text-center" id="title">
      Mis pagos
    </ion-title>

    <ion-buttons slot="end">
      <ion-avatar class="ion-padding">
        <!-- <ion-img src="/assets/persona.jpeg"></ion-img> -->
        <ion-img [src]="icon"></ion-img>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item *ngFor="let item of sem">
      <ion-label>Semana de gestación: {{item.semanaGesta}}</ion-label>
      <ion-select *ngIf="item.semanaGesta == '' " interface="popover" name="semanaGesta" id="Paciente" class="form-control" [(ngModel)]="pagos.semanaGesta">
        <ion-select-option [value]="item" *ngFor="let item of semanaGestacion">{{item}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Semana de pagos</ion-label>
      <ion-select interface="popover" name="semanapago" id="Paciente2" class="form-control" [(ngModel)]="pagos.semanapago" disabled>
        <ion-select-option [value]="item" *ngFor="let item of semanapago">{{item}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Pago</ion-label>
      <ion-input type="number" min="0" name="pago" class="form-control" [(ngModel)]="pagos.pago" disabled></ion-input>
    </ion-item>

    <ion-item>
      <div class="form-group">
        <div class="form-check form-check-inline">
            <input type="radio" value="si" name="SI" [(ngModel)]="riesgo.valores" (change)="habilitarRiesgo()">
            <label class="form-check-label"> Inlcuye semana</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" value="no" name="NO" [(ngModel)]="riesgo.valores" (change)="habilitarRiesgo()">
            <label class="form-check-label">No incluye semana</label>
        </div>
    </div>
    </ion-item>

    <ion-item>
      <ion-label>Deposito</ion-label>
      <ion-input type="number" min="0" name="Deposito" class="form-control" [(ngModel)]="deposito" (change)="actualizarSemanasPago()"></ion-input>
    </ion-item>

    <ion-footer class="ion-padding">
      <ion-toolbar>
        <ion-button expand="block" (click)="agregarPago()">
          Pagar
        </ion-button>
      </ion-toolbar>
    </ion-footer>
  </ion-card>
</ion-content>
