<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="salirModal()">
        <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>

    <ion-title class="ion-text-capitalize" class="ion-text-center" id="title">
      ADQUIRIR PAQUETE
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label>Selecciona un paquete</ion-label>
      <ion-select interface="action-sheet" name="paquete" id="paquete" class="form-control" [(ngModel)]="paqueteSelect" (ionChange)="getPaquete(paqueteSelect)" >
        <ion-select-option [value]="item._id" *ngFor="let item of paquetesDB">{{item.nombrePaquete}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Costo del paquete</ion-label>
      <ion-input type="number" min="0" name="costo" class="form-control" [value]="paqueteSelected.costoTotal" [(ngModel)]="costo" disabled></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Anticipo</ion-label>
      <ion-input type="number" min="0" name="anticipo" class="form-control" [(ngModel)]="anticipo" disabled></ion-input>
    </ion-item>

    <ion-footer class="ion-padding">
      <ion-toolbar>
        <ion-button expand="block" (click)="enviar()">
          Pagar
        </ion-button>
      </ion-toolbar>
    </ion-footer>
  </ion-card>
</ion-content>