ion-select{
    font-size: .8rem;
}
ion-select-option{
    font-size: .8rem;
}

#title, .servicios{
    font-size: 20px;
    color: var(--ion-color-titulos);
    font-weight: bold;
}

ion-buttons{
    ion-icon{
        margin-left: 10px;
        height: 35px;
        width: 35px;
        color: var(--ion-color-botones);
    }
}

ion-avatar{
    height: 80px;
    width: 80px;
}

ion-card{
    margin-top: 50px;
    height: 400px;
}

ion-item{
    margin: 20px;
}