<ion-content class="ion-padding" no-bounce>
  <ion-img src="assets/icons/logo/logo1.png"></ion-img>
  <ion-text color="titulo">
    <h1 class="ion-text-center">REGISTRO</h1>
  </ion-text>
  <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">

    <ion-list-header>
      <ion-label>Nombre Completo</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-input type="text" 
                 name="nombrePaciente"
                 [(ngModel)]="paciente.nombrePaciente"
                 required></ion-input>
    </ion-item>

    <ion-list-header>
      <ion-label>Apellido Paterno</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-input type="text" 
                 name="apellidoPaterno"
                 [(ngModel)]="paciente.apellidoPaterno"
                 required></ion-input>
    </ion-item>

    <ion-list-header>
      <ion-label>Apellido Materno</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-input type="text" 
                 name="apellidoMaterno"
                 [(ngModel)]="paciente.apellidoMaterno"
                 required></ion-input>
    </ion-item>

    <ion-list-header>
      <ion-label></ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Selecciona un genero</ion-label>
      <ion-select name="genero" class="form-control" interface="action-sheet" #genero (ionChange)="genero.value" [(ngModel)]="paciente.genero">
        <ion-select-option value="MASCULINO">Masculino</ion-select-option>
        <ion-select-option value="FEMENINO">Femenino</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-list-header>
      <ion-label></ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Selecciona tu fecha de nacimiento</ion-label>
      <ion-datetime [value]="fechaNaci"
                    name="fechaNacimiento"
                    display-format="DD- MM- YYYY"
                    [(ngModel)]="paciente.fechaNacimiento"
                    (ionChange)="cambioFecha( $event )"></ion-datetime>
    </ion-item>

    <ion-list-header>
      <ion-label>Correo</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-input type="email" 
                 name="correoPaciente"
                 [(ngModel)]="paciente.correoPaciente"
                 pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                 required></ion-input>
    </ion-item>

    <ion-list-header>
      <ion-label>Contraseña</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-input type="password" 
                 name="password"
                 [(ngModel)]="paciente.password"
                 required></ion-input>
    </ion-item>

    <ion-list-header>
      <ion-label>Repetir contraseña</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-input type="password"
                 [(ngModel)]="rec_pass" 
                 name="password2"
                 required></ion-input>
    </ion-item>


    <ion-button type="submit" [disabled]="formulario.invalid" expand="block" class="ion-padding" color="primary">
      Registrate
    </ion-button>
  </form>

  <ion-list-header class="ion-padding">
    <ion-label class="ion-text-center">¿Tienes cuenta con nosotros?<ion-label class="ion-text-right" color="primary" routerLink="/login-correo">Iniciar Sesion</ion-label></ion-label>
  </ion-list-header>

</ion-content>
