ion-label{
    font-weight:bold;
}

ion-img{
    margin-top: 20px;
}

h1{
    font-weight:bold; 
}

ion-item{
    border-radius: 3rem;
    box-shadow: 4px 4px 15px 0px #999;
}

ion-button{
    height:4.5rem;
}