<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-icon src="assets/chip.svg" color="warning"></ion-icon>
    </ion-card-header>

    <ion-grid fixed>
      <ion-row id="tarjeta">
        <ion-col size="12">
          <ion-label>{{tarjeta}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row id="nombre">
        <ion-col size="12">
          <ion-label>{{titular}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row id="meses">
        <ion-col size="6" class="alignme">
          <ion-label>{{mes}} /</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label>{{ano}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-card>

  <!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="ion-padding"> -->
    
    <ion-item>
      <ion-input type="text" 
                 name="nombreTitular"
                 (input)="nombreTitular($event.target.value)"
                 required
                 placeholder="Nombre del Titular">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [placeholder]="tarjeta" (input)="numeroTarjeta($event.target.value)">
      </ion-input>
    </ion-item>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label>Mes</ion-label>
            <ion-datetime display-format="MM" (ionChange)="meses( $event )"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label>Año</ion-label>
            <ion-datetime display-format="YY"
                          min="2021"
                          max="2050"
                          (ionChange)="anos( $event )">
            </ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item>
      <ion-input type="number" 
                 name="cvv"
                 [(ngModel)]="cvv"
                 required
                 placeholder="CVV">
      </ion-input>
    </ion-item>
  <!-- </form> -->
  
</ion-content>
