ion-card{
    background-color:gray;
    height: 180px;
    width: 280px;
    display:block;
    margin: 0 auto;
    ion-card-header{
        height: 30px;
    }
    ion-icon{
        height: 50px;
        width: 50px;
    }
    ion-grid{
        margin-top: 30px;
        margin-left: 10px;
        #tarjeta{
            ion-label{
                font-size: 1.5rem;
                color: white;
            }
        }

        #meses{
            ion-label{
                font-size: 1rem;
                color: white;
            }
        }

        #nombre{
            margin-top: 5px;
            ion-label{
                font-size: 1rem;
                color: white;
            }
        }
    }
}

.alignme {
    text-align: right;
}

ion-grid{
    border: black;
}