ion-label{
    font-weight:bold;
}

ion-img{
    margin-top: 20px;
}

ion-item{
    border-radius: 3rem;
    box-shadow: 4px 4px 15px 0px #999;
}

ion-item-divider{
    border: 0;
    //margin-left: 32%;
    margin-top: 10%;
    margin-bottom: 10px;
    max-width: 150px;
    min-height: 1px !important;
    background-color: #999;
}
.derecha{
    margin-right: 4%;
}
.izquierda{
    margin-left: 4%;
}

ion-button{
    height:4.5rem;
}

h1{
    font-weight:bold; 
}

p{
    font-weight:bold;
    margin-top: 10%;  
}