<ion-content class="ion-padding">
  <ion-img src="assets/icons/logo/logo1.png"></ion-img>
  <ion-text color="titulo">
    <h1 class="ion-text-center">RECUPERAR CONTRASEÑA</h1>
  </ion-text>
  <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">

    <ion-list-header>
      <ion-label>Correo</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-input type="email" 
                 name="correoPaciente"
                 [(ngModel)]="usuario.correoPaciente"
                 pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                 required></ion-input>
    </ion-item>

    <!-- <ion-list-header>
      <ion-item-divider class="derecha"></ion-item-divider> <p>Ó</p> <ion-item-divider class="izquierda"></ion-item-divider>
    </ion-list-header> -->

    <ion-list-header>
      <ion-label>Nueva Contraseña</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-input type="password" 
                 name="password"
                 [(ngModel)]="usuario.password"
                 required></ion-input>
    </ion-item>


    <ion-button type="submit" [disabled]="formulario.invalid" expand="block" color="primary" class="ion-padding">
      Cambiar Contraseña
    </ion-button>
  </form>
</ion-content>

