ion-card{
    display: flex;
    flex-direction: column;
    #headerSGSH{
        margin-top: 10px;
        margin-right: 20px;
    }
    #footer{
        /* width: 200px; */
        margin-left: 80px;
        position: absolute;
        bottom: 12px;
    }
    ion-card-header{
        ion-card-subtitle{
            text-align: center;
            color: var(--ion-color-titulos);
            font-weight: bold;
        }
    }
    ion-card-content{
        overflow-y: scroll;
        font-size: 18px;
        ion-row{
            margin-bottom: 30px;
        }
        .titulos{
            text-align: center;
            color: var(--ion-color-titulos);
            font-weight: bold;
            font-size: 12px
        }
        .resultados{
            text-align: center;
            #obtenido{
                color: black;
                font-weight: bold;
            }
            font-size: 20px;
            /* #referencia{
                color: black;
                font-weight: bold;
            } */
        }
        .lab{
            margin: 0px !important;
        }
        ion-grid{
            margin: 20px;
        }
    }
    height: 670px;
}

.lab{
    .header{
        color: var(--ion-color-titulos);
    }
    p{
        font-size: 12px;
        font-weight: 800;
        text-align: center;
    }
    
    .referencia{
        p{
            font-size: 11px !important;
        }
    }

    .elementos{
        p{
            text-align: justify;
            word-spacing:normal;
            white-space:normal;
        }
    }
}

ion-button{
    margin-bottom: 50px;
}

ion-card .list-md{
    background: var(--ion-color-card);
}

ion-title{
    font-weight: bold;
    color: var(--ion-color-titulos);
}

img{
    height: 50px;
    width: 50px;
}

@media print
{
.noprint {display:none;}
#content {
    width: calc(100% - 0%);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
}