<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/">
      </ion-back-button>
    </ion-buttons>


    <ion-title class="ion-text-capitalize" class="ion-text-center">
      {{servicio| uppercase}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="head">
  <ion-card>
    <ion-img src="assets/icons/logo/header_SGSH.png" id="headerSGSH"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{regresos.idEstudio.ESTUDIO}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content *ngIf="servicio == 'laboratorio'">
      <ion-grid fixed class="lab">
        <ion-row class="header">
          <ion-col size="3">
            <p>TIPO</p>
          </ion-col>
          <ion-col size="4">
            <p>ELEMENTO</p>
          </ion-col>
          <ion-col size="2">
            <p>OBT</p>
          </ion-col>
          <ion-col size="3">
            <p>REF</p>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let item of regreso">
          <ion-col size="3">
            <p class="header">
              {{item.tipo}}
            </p>
          </ion-col>
          <ion-col size="4" class="elementos">
            <p>
              {{item.elementos}}
            </p>
          </ion-col>
          <ion-col size="2">
            <p class="header">
              {{item.obtenido}}
            </p>
          </ion-col>
          <ion-col size="3" class="referencia">
            <div *ngFor="let it of item.referencia">
              <p>{{it.referencia}}</p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="responsable">
          <ion-col size="12" class="ion-text-right">
            <p>Responsable: {{regresos.quimico}}</p>
            <ion-button (click)="generarPdf()" expand="block" class="ion-padding" color="primary">
              Imprimir
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    <ion-card-content *ngIf="servicio == 'ultrasonido'">
      <ion-label>INTERPRETACION</ion-label>
      <p style="text-align: justify;">{{regresos.machoteEdit}}</p>
      <ion-label>DIAGNOSTICO</ion-label>
      <p style="text-align: justify;">{{regresos.diagnostico}}</p>
      <ion-label>OBSERVACIÓNES</ion-label>
      <p style="text-align: justify;">{{regresos.observaciones}}</p>
        <ion-row>
          <ion-col size="6" *ngFor="let item of regresos.imageUrl">
            <ion-img src="https://horizonte-backend.herokuapp.com/img/{{item}}" (click)="viewImage(item)"></ion-img>
          </ion-col>
          <!-- <ion-col size="6">
            <ion-img src="https://www.surfertoday.com/images/stories/koloheandino24.jpg" (click)="viewImage2('https://www.surfertoday.com/images/stories/koloheandino24.jpg')"></ion-img>
          </ion-col> -->
        </ion-row>
      <ion-button (click)="downloadPdf()" expand="block" class="ion-padding" color="primary">
        Imprimir
      </ion-button>
    </ion-card-content>
    <ion-card-header>
      <ion-img src="assets/icons/logo/footer.png" id="footer"></ion-img>
    </ion-card-header>
  </ion-card>
</ion-content>
