ion-title{
    font-weight: bold;
}

ion-card{
    /* border-radius: 10px !important;
    box-shadow: 4px 4px 15px 0px #999 !important; */
    height: 550px;
    position: relative;
    overflow: hidden;
    overflow-y:unset;
    ::-webkit-scrollbar {
        display: none;
    }
} 
ion-toolbar{
    ion-back-button{
        color: var(--ion-color-botones);
    }
    
    ion-title{
        color: var(--ion-color-titulos);
    }
}

/* ion-list{
    background: var(--ion-color-light-shade);
    ion-item{
        padding: 0;
        margin: 14px 0;
        --border-radius: 14px;
        ion-grid{
            background: var(--ion-color-botones);
            color: var(--ion-color-botones-contrast);
            border-radius: 14px;
            ion-icon{
                height: 40px;
                width: 40px;
            }
            #check{
                color: var(--ion-color-success);
            }
            
        }
    }
} */