<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button
          defaultHref="/">
        </ion-back-button>
      </ion-buttons>

      <ion-title class="ion-text-capitalize" class="ion-text-center">
        TICKETS
      </ion-title>      
  </ion-toolbar>
</ion-header> 

<ion-content class="ion-padding">
  <ion-card>
    <ion-list>
      <ion-item *ngFor="let item of ventas.data" (click)="mostrarModal(item, paciente.usuario.membresiaActiva)" class="animate__animated animate__fadeInDown">
          <ion-label color="texto">
                  <h4>
                    {{item.estudios[0].nombreEstudio}}
                  </h4>
                  <h5>
                    {{item.fecha | date: 'dd/MM/yyyy'}}
                  </h5>
          </ion-label>
          <ion-icon slot="end" name="chevron-forward-outline" color="texto"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>
    <!-- <ion-list>
      <ion-item *ngFor="let item of ventas.data" (click)="mostrarModal(item, paciente.usuario.membresiaActiva)" lines="none" class="animate__animated animate__fadeInDown">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col size="10">
                <ion-label>
                  <h4>
                    {{item.estudios[0].nombreEstudio}}
                  </h4>
                  <h5>
                    {{item.fecha | date: 'dd/MM/yyyy'}}
                  </h5>
                </ion-label>
              </ion-col>
              <ion-col size="2">
                  <ion-icon name="chevron-forward-outline"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
      </ion-item>
    </ion-list> -->
</ion-content>
