#title, .servicios{
    font-size: 20px;
    font-style: italic;
}

ion-badge{
    border-radius: 50%; 
    padding: 20px;
}

#agregar{
    padding: 0% !important;
    height: 102px;
    width: 102px;
    #mas{
        padding: 14px;
        height: 70px;
        width: 70px;
        color: var(--ion-color-primary-contrast);
    }
}

#paquete{
    font-size: 30px;
}

#ser{
    overflow-y: scroll;
    width:350px;
    height:365px;
}

ion-icon{
    height: 40px;
    width: 40px;
    color: var(--ion-color-botones);
}

span{
    color: red;
    font-size: 1rem;
    font-weight: bold;
}

.card{
    box-shadow: none;
    width:102px;
    height:102px;
    -webkit-border-radius: 50%;
    border-radius: 100%;
    padding: 0%;
    ion-card-content{
        padding: 0%;
    }
}

ion-card .list-md{
    background: var(--ion-color-card);
}

ion-back-button{
    color: var(--ion-color-botones);
}

ion-title{
    color: var(--ion-color-titulos);
}