<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/">
      </ion-back-button>
    </ion-buttons>


    <ion-title class="ion-text-capitalize" class="ion-text-center">
      Mi Expediente Medico
    </ion-title>

    <ion-buttons slot="end">
      <ion-avatar class="ion-padding">
        <!-- <ion-img src="/assets/persona.jpeg"></ion-img> -->
        <ion-icon name="person-circle"></ion-icon>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header> 

<ion-content class="ion-padding">
  <ion-list-header>
    <ion-label color="tertiary" id="title" style="text-align: center;">Mis Paquetes</ion-label>
  </ion-list-header>

  <ion-slides [options]="slidesOptions" class="paquetes">
    <ion-slide *ngFor="let item of paciente.paquetes" (click)="mostrarModal(item)">
      <ion-card class="card" >
        <ion-card-content class="ion-text-left">
          <ion-img [src]="item.icon"></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide (click)="agregarPaquete()">
      <ion-card class="card">
        <ion-card-content class="ion-text-left" class="ion-no-border">
          <ion-badge color="primary" id="agregar">
            <ion-icon name="add" id="mas"></ion-icon>
          </ion-badge>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  
  <ion-slides class="ion-no-padding">
    <ion-slide>
      <ion-card-content>
          <!-- <ion-list-header>
            <ion-label color="tertiary" id="title">Mis Paquetes</ion-label>
          </ion-list-header>
        
          <ion-slides [options]="slidesOptions" class="paquetes">
            <ion-slide *ngFor="let item of paciente.paquetes">
              <ion-card class="card" >
                <ion-card-content class="ion-text-left">
                  <ion-img [src]="item.icon"></ion-img>
                </ion-card-content>
              </ion-card>
            </ion-slide>
            <ion-slide>
              <ion-card class="card">
                <ion-card-content class="ion-text-left" class="ion-no-border">
                  
                  <ion-badge color="primary" id="agregar">
                    <ion-icon name="add" id="mas"></ion-icon>
                  </ion-badge>
                </ion-card-content>
              </ion-card>
            </ion-slide>
          </ion-slides> -->

        <ion-list-header>
          <ion-label color="tertiary" class="servicios">Mis Servicios</ion-label>
        </ion-list-header>
      
        <ion-card class="ion-padding" id="ser">
          <ion-list>
            <ion-item *ngFor="let servicios of servicio" class="animate__animated animate__fadeInDown" color="card" routerLink="regresos/{{servicios.url}}">
              <!-- <ion-icon slot="start" [src]="servicios.img"></ion-icon> -->
              <ion-label color="texto">{{servicios.nombre}}</ion-label>
              <ion-icon slot="end" name="chevron-forward-outline" color="texto"></ion-icon>
            </ion-item>
          </ion-list>
        </ion-card>
      </ion-card-content>
    </ion-slide>
    <ion-slide>
      <ion-card-content>
        <ion-list-header id="exp">
          <ion-label color="tertiary" class="servicios">Mis Compras</ion-label>
        </ion-list-header>
      
        <ion-card class="ion-padding" id="ser">
          <ion-list>
            <ion-item *ngFor="let compra of compras" class="animate__animated animate__fadeInDown" routerLink="{{compra.url}}{{this.id}}" color="card">
              <!-- <ion-icon slot="start" name="bag-check-outline" color="texto"></ion-icon> -->
              <ion-label color="texto">{{compra.nombre}}</ion-label>
              <ion-icon slot="end" name="chevron-forward-outline" color="texto"></ion-icon>
            </ion-item>
          </ion-list>
        </ion-card>
      </ion-card-content>
    </ion-slide>
    <ion-slide>
      <ion-card-content>
        <ion-list-header id="exp">
          <ion-label color="tertiary" class="servicios">Expediente medico</ion-label>
        </ion-list-header>
      
        <ion-card class="ion-padding" id="ser">
          <ion-list>
            <ion-item *ngFor="let signo of signos" class="animate__animated animate__fadeInDown" color="card" routerLink="{{signo.url}}">
              <ion-label color="texto">{{signo.nombre}}</ion-label>
              <ion-icon slot="end" name="chevron-forward-outline" color="texto"></ion-icon>
            </ion-item>
          </ion-list>
        </ion-card>
      </ion-card-content>
    </ion-slide>
    <ion-slide>
      <ion-card-content>
        <ion-list-header>
          <ion-label color="tertiary" class="servicios">Carrito</ion-label>
        </ion-list-header>
      
        <ion-card class="ion-padding" id="ser">
          <ion-list>
            <ion-item *ngFor="let servicios of servicio" class="animate__animated animate__fadeInDown" color="card" (click)="onClick(servicios.url)">
              <!-- <ion-icon slot="start" [src]="servicios.img"></ion-icon> -->
              <ion-label color="texto">{{servicios.nombre}}</ion-label>
              <ion-icon slot="end" name="chevron-forward-outline" color="texto"></ion-icon>
            </ion-item>
          </ion-list>
        </ion-card>
      </ion-card-content>
    </ion-slide>
  </ion-slides>

  <!-- <ion-list-header>
    <ion-label color="tertiary" class="servicios">Datos fiscales</ion-label>
  </ion-list-header>

  <ion-card class="ion-padding">
    <ion-list>
      <ion-item color="card">
        <ion-label color="texto">Datos fiscales</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline" color="texto"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card> -->

</ion-content>
