.circle-pic{
    width:150px;
    height:150px;
    -webkit-border-radius: 50%;
    border-radius: 100%;
    align-items: center;
    margin-top: .3rem;
}

ion-item{
    border-radius: 3rem;
    box-shadow: 4px 4px 15px 0px #999;
    height: 30px;
    margin-top: 6px;
    margin-bottom: 2px;
}


form{
    padding-top: 0% !important;
    margin-top: -10px;
}

ion-title{
    text-align: right;
    font-weight: bold;
}

ion-input{
    font-size: .8rem;
}

ion-row {
    text-align: center;
    margin: 0px;
}
ion-badge{
    border-radius: 50%;
    //margin-right: 15%;
    margin-top: -50%;
    padding: 5px;
}
ion-icon {
    font-size: 25px; //Preferred size here
    right: 150px;
}
ion-card{
    margin-top: -10px;
    border-radius: 30px;
    height: 35.9rem;
    width: 22rem;
}

ion-item-divider{
    border: 0;
    margin-left: 35%;
    //margin-top: 5%;
    margin-bottom: 0px;
    max-width: 97px;
    min-height: 8px !important;
    background-color: #999;
    box-shadow: 4px 4px 6px 1px #999;
    border-radius: 20px !important;
}