<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        color="primary">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card class="ion-padding">
    <ion-item-divider></ion-item-divider>
      <ion-grid>
        <ion-row>
            <ion-col size="12">
              <ion-icon name="person-circle" color="primary" class="circle-pic"></ion-icon>
                <ion-badge>
                  <ion-icon name="camera"></ion-icon>
                </ion-badge>
            </ion-col>
       </ion-row>
      </ion-grid>

    <form class="ion-padding">
    
        
          <ion-label color="primary">Nombre</ion-label>
        
        <ion-item>
          <!-- <ion-label position="floating" color="primary">Nombre</ion-label> -->
          <ion-input type="text" 
                     name="nombre"
                     [(ngModel)]="nombre"
                     color="tertiary">
          {{paciente.usuario.apellidoMaterno}}
          </ion-input>
        </ion-item>
      
        
          <ion-label color="primary">Correo Electronico</ion-label>
        
        <ion-item>
          <!-- <ion-label position="floating" color="primary">Correo Electronico</ion-label> -->
          <ion-input type="email" 
                     name="email"
                     [(ngModel)]="email"
                     color="tertiary">
          </ion-input>
        </ion-item>

        
          <ion-label color="primary">Contraseña</ion-label>
        
        <ion-item>
          <!-- <ion-label position="floating" color="primary">Contraseña</ion-label> -->
          <ion-input type="password" 
                     name="password"
                     [(ngModel)]="pass"
                     color="tertiary">
          </ion-input>
        </ion-item>
    
        
          <ion-label color="primary">Fecha de Nacimiento</ion-label>
        
        <ion-item>
          <!-- <ion-label position="floating" color="primary">Fecha de Nacimiento</ion-label> -->
          <ion-input type="text" 
                     name="fecha"
                     [(ngModel)]="fecha"
                     color="tertiary">
          </ion-input>
        </ion-item>
    
        
          <ion-label color="primary">Sexo</ion-label>
        
        <ion-item>
          <!-- <ion-label position="floating" color="primary">Sexo</ion-label> -->
          <ion-input type="text" 
                     name="sexo"
                     [(ngModel)]="sexo"
                     color="tertiary">
          </ion-input>
        </ion-item>
        
        
          <ion-label color="primary">Tipo de sangre</ion-label>
        
        <ion-item>
          <!-- <ion-label position="floating" color="primary">Tipo de Sangre</ion-label> -->
          <ion-input type="text"
                     name="sangre"
                     [(ngModel)]="sangre"
                     color="tertiary">
          </ion-input>
        </ion-item>
    
        <ion-button expand="block" class="ion-padding" color="primary">
          Guardar
        </ion-button>
    </form>
  </ion-card>
</ion-content>
