#title, .servicios{
    font-size: 20px;
    font-style: italic;
}

ion-card{
    /* border-radius: 10px !important;
    box-shadow: 4px 4px 15px 0px #999 !important; */
    height: 150px;
    position: relative;
    overflow: hidden;
    overflow-y:unset;
    ::-webkit-scrollbar {
        display: none;
    }
    ion-card-content{
        ion-button{
            margin-top: 30px;
            height: 60px;
            font-weight: bold;
            font-size: 20px;
        }
    }
}

.signos{
    margin-top: 50px;
    border-radius: 20px !important;
    height: 70px;
    position: relative;
    ::-webkit-scrollbar {
        display: none;
    }
    ion-card-content{
        ion-row{
            ion-col{
                #valor{
                    text-align: right;
                }
                p{
                    font-size: 20px;
                    color: var(--ion-color-titulos);
                    font-weight: bold;  
                }
            }
        }
        ion-label{
            font-size: 25px;
            color: var(--ion-color-titulos);
            font-weight: bold;
        }
    }
}

ion-title{
    font-size: 20px;
    font-weight: bold;
    color: var(--ion-color-titulos);
}

ion-back-button{
    color: var(--ion-color-botones);
}