<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/">
      </ion-back-button>
    </ion-buttons>


    <ion-title class="ion-text-capitalize" class="ion-text-center">
      Mis Signos Vitales
    </ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-button expand="block" shape="round" color="primary" (click)="mostrarModal()">
        Agregar signos vitales
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="signos">
      <ion-card-content>
        <ion-row routerLink="graficas/peso">
          <ion-col size="6">
            <p>Peso</p>
          </ion-col>
          <ion-col size="6">
            <p id="valor">{{signos[0].peso}} Kg</p>
          </ion-col>
        </ion-row>
      </ion-card-content>
  </ion-card>

  <ion-card class="signos">
    <ion-card-content>
      <ion-row routerLink="graficas/talla">
        <ion-col size="6">
          <p>Talla</p>
        </ion-col>
        <ion-col size="6">
          <p id="valor">{{signos[0].talla}} M</p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card class="signos">
    <ion-card-content>
      <ion-row routerLink="graficas/imc">
        <ion-col size="6">
          <p>IMC</p>
        </ion-col>
        <ion-col size="6">
          <p id="valor">{{signos[0].imc}} Kg/M^2 </p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card class="signos">
    <ion-card-content>
      <ion-row routerLink="graficas/temp">
        <ion-col size="6">
          <p>Temperatura</p>
        </ion-col>
        <ion-col size="6">
          <p id="valor">{{signos[0].temp}} °C</p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card class="signos">
    <ion-card-content>
      <ion-row routerLink="graficas/pa">
        <ion-col size="6">
          <p>Presión Arterial</p>
        </ion-col>
        <ion-col size="6">
          <p id="valor">{{signos[0].sistolica}} mm Hg</p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card class="signos">
    <ion-card-content>
      <ion-row routerLink="graficas/sao">
        <ion-col size="6">
          <p style="font-size: medium;">Saturación de Oxigeno</p>
        </ion-col>
        <ion-col size="6">
          <p id="valor">{{signos[0].pao}} SaO2</p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card class="signos">
    <ion-card-content>
      <ion-row routerLink="graficas/glucosa">
        <ion-col size="6">
          <p style="font-size: medium;">Glucosa</p>
        </ion-col>
        <ion-col size="6">
          <p id="valor">{{signos[0].glucosa}} mg/dL</p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
