<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/">
      </ion-back-button>
    </ion-buttons>


      <ion-title class="ion-text-capitalize" class="ion-text-center" color="titulos">
        {{ titulo | titlecase }}
      </ion-title>

      
        <ion-badge slot="end" class="icono" [routerLink]="['/carrito']">
          <ion-icon name="cart"></ion-icon>
        </ion-badge>
        <ion-badge slot="end" class="numero">{{car.carrito.items.length}}</ion-badge>
      
  </ion-toolbar>
</ion-header> 
