.icono{
    border-radius: 50%;
    /* margin-left: -10%;
    margin-top: -50%; */
    margin-right: 10px;
}
ion-icon{
    font-size: 30px; //Preferred size here
    padding: 5px;
    right: 150px;
}

.numero{
    border-radius: 50%;
    margin-top: 6%;
    margin-right: 5px;
    margin-left: -19px;
    //--color:var(--ion-color-carrito-contrast);
    --background:var(--ion-color-carrito);
}

ion-back-button{
    color: var(--ion-color-botones);
}

/* ion-title{
    color: var(--ion-color-primary-contrast);
} */

ion-title{
    font-weight: bold;
}