#socio{
   width: 100%;
   height: 15%;
   /* display: block;
   margin: 0 auto; */
   //height: 50%; 
}
ion-card{
    ion-text{
        height: 20px;
        h1{
            height: 1px;
            color: black;
            font-weight: bolder;
        }
    }
    ion-card-header{
        //--background: url('/assets/icon.png') no-repeat center center fixed;
        height: 100%;
        width: 100%;
        display: block;
        ion-img{
            height: 100%;
            opacity: 0.5; 
        }
    }
    height: 620px;
}

