<ion-content>
  <ion-img src="assets/icons/premium/socio_horizonte.png" id="socio"></ion-img>
  <ion-card>
    <ion-text>
      <h1 class="ion-text-center">MEMBRESÍA</h1>
    </ion-text>
    <ion-card-header>
      <ion-img src="assets/icon.png"></ion-img>
    </ion-card-header>
  </ion-card>
</ion-content>
