<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="salirModal()">
        <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>

    <ion-title class="ion-text-capitalize" class="ion-text-center" id="title">
      Mi paquete
    </ion-title>

    <ion-buttons slot="end">
      <ion-avatar class="ion-padding">
        <!-- <ion-img src="/assets/persona.jpeg"></ion-img> -->
        <ion-img [src]="paquete.icon"></ion-img>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="paquete.nombrePaquete == 'PAQUETE DE CONTROL PRENATAL'">
  <ion-title id="citas">Citas Incluidas</ion-title>

  <ion-slides scrollbar="md" [options]="slidesOptions" class="slide">
    <ion-slide>
      <ion-card class="card" id="gineco">
        <ion-badge id="badegeGineco" color="#ffff" mode="ios">
          <p>{{GINE}}</p> 
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          <p class="text-center">{{paquete.CitasIncluidas[10]}}</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="card" id="pediatria">
        <ion-badge color="#ffff" mode="ios" id="badegePediatria">
          <p>{{PEDI}}</p> 
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          <p class="text-center">{{paquete.CitasIncluidas[9]}}</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-title id="lab">Laboratorios Incluidos</ion-title>

  <ion-slides scrollbar="md" [options]="slidesOptions" class="slide" id="laboratorios">
    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios" id="badgeMG">
          <p>{{BHC}}</p>
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          2 Biometría hemática completa
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios" id="badgeMG">
          <p>{{QS}}</p>
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          1 Química sanguínea de 6 elementos
        </ion-card-content>
      </ion-card>
    </ion-slide>  
    
    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios" id="badgeMG">
          <p>{{EGO}}</p>
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          2 Exámen General de Orina
        </ion-card-content>
      </ion-card>
    </ion-slide>
    
    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios" id="badgeMG">
          <p>{{VDRL}}</p>
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          1 V.D.R.L
        </ion-card-content>
      </ion-card>
    </ion-slide>
    
    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios" id="badgeMG">
          <p>{{VIH}}</p>
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          1 V.I.H.
        </ion-card-content>
      </ion-card>
    </ion-slide>
      
    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios" id="badgeMG">
          <p>{{GS}}</p>
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          1 Grupo Sanguíneo
        </ion-card-content>
      </ion-card>
    </ion-slide>
    
    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios" id="badgeMG">
          <p>{{TC}}</p>
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          1 Tiempos de Coagulación
        </ion-card-content>
      </ion-card>
    </ion-slide>
     
    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios" id="badgeMG">
          <p>{{CTG}}</p>
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          1 Curva de tolerancia a la Glucosa
        </ion-card-content>
      </ion-card>
    </ion-slide>
      
    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios" id="badgeMG">
          <p>{{EV}}</p>
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          1 Exudado Vaginal
        </ion-card-content>
      </ion-card>
    </ion-slide>
    
    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios" id="badgeMG">
          <p>{{URO}}</p>
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          1 Urocultivo
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-title id="ultra">Ultrasonidos Incluidos</ion-title>

  <ion-slides scrollbar="md" [options]="slidesOptions" class="slide" id="ultrasonidos">
    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios">
          <p>{{OBSTETRI}}</p> 
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          <p class="text-center">2 Ultrasonidos obstétricos convencionales</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios" id="badegePediatria">
          <p>{{ESTRUC}}</p> 
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          <p class="text-center">1 Ultrasonido estructural</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-content *ngIf="paquete.nombrePaquete == 'PAQUETE NEONATAL (DE 0 A 12 MESES)'">
  <ion-title id="citas">Citas Incluidas</ion-title>

  <ion-slides scrollbar="md" [options]="slidesOptions" class="slide">
    <ion-slide>
      <ion-card class="card" id="pediatria">
        <ion-badge id="badegeGineco" color="#ffff" mode="ios">
          <p>{{egoCount}}</p> 
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          <p class="text-center">{{paquete.CitasIncluidas[0]}}</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="card" id="general">
        <ion-badge color="#ffff" mode="ios" id="badegePediatria">
          <p>{{ego2Count}}</p> 
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          <p class="text-center">{{paquete.CitasIncluidas[1]}}</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="card" id="estancias">
        <ion-badge color="#ffff" mode="ios" id="badegePediatria">
          <p>{{ego3Count}}</p> 
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          <p class="text-center">{{paquete.CitasIncluidas[2]}}</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-title id="lab">Laboratorios Incluidos</ion-title>

  <ion-slides scrollbar="md" [options]="slidesOptions" class="slide" id="laboratorios">
    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios" id="badgeMG">
          <p>{{GOCount}}</p>
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          1 Tamiz ampliado (Dentro de los primeros 10 días de nacido)
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios" id="badgeMG">
          <p>{{GSCount}}</p>
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          1 Grupo Sanguineo y Factor RH
        </ion-card-content>
      </ion-card>
    </ion-slide>  
  </ion-slides>
</ion-content>