<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/">
      </ion-back-button>
    </ion-buttons>

 -->
    <ion-title class="ion-text-capitalize" class="ion-text-center">
      AGREGAR SIGNOS VITALES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <p style="text-align: center;">Introduce los signos vitales</p>

      <ion-list-header>
        <ion-label>Peso</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-input type="number" 
                   name="Peso"
                   [(ngModel)]="signosVitales.peso"
                   required>
        </ion-input>
      </ion-item>

      <ion-list-header>
        <ion-label>Talla</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-input type="number" 
                   name="Talla"
                   [(ngModel)]="signosVitales.talla"
                   (change)="obtenerIMC()"
                   required>
        </ion-input>
      </ion-item>

      <ion-list-header>
        <ion-label>IMC</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-input type="number" 
                   name="IMC"
                   [(ngModel)]="signosVitales.imc"
                   required>
        </ion-input>
      </ion-item>

      <ion-list-header>
        <ion-label>Temperatura</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-input type="number" 
                   name="Temperatura"
                   [(ngModel)]="signosVitales.temp"
                   required>
        </ion-input>
      </ion-item>

      <ion-list-header>
        <ion-label>Sistolica</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-input type="number" 
                   name="sistolica"
                   [(ngModel)]="signosVitales.sistolica"
                   required>
        </ion-input>
      </ion-item>

      <ion-list-header>
        <ion-label>Diastolica</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-input type="number" 
                   name="diastolica"
                   [(ngModel)]="signosVitales.diastolica"
                   required>
        </ion-input>
      </ion-item>

      <ion-list-header>
        <ion-label>Saturación de Oxigeno</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-input type="number" 
                   name="Saturación de Oxigeno"
                   [(ngModel)]="signosVitales.pao"
                   required>
        </ion-input>
      </ion-item>

      <ion-list-header>
        <ion-label>Glucosa</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-input type="number" 
                   name="Glucosa"
                   [(ngModel)]="signosVitales.glucosa"
                   required>
        </ion-input>
      </ion-item>

    </ion-card-content>
    <div style="text-align: center;">
      <ion-button class="ion-align-items-center" (click)="agregarSignos()">
        Agregar
      </ion-button>
    </div>
  </ion-card>
</ion-content>
