ion-title{
    font-size: 20px;
    font-weight: bold;
    color: var(--ion-color-titulos);
}

ion-back-button{
    color: var(--ion-color-botones);
}

ion-card{
    /* border-radius: 10px !important;
    box-shadow: 4px 4px 15px 0px #999 !important; */
    height: 700px;
    position: relative;
    overflow: hidden;
    overflow-y:unset;
    ::-webkit-scrollbar {
        display: none;
    }
    ion-card-content{
        p{
            color: var(--ion-color-titulos);
            font-size: 1rem;
        }
        ion-list-header{
            ion-label{
                color: var(--ion-color-titulos);
                font-size: .8rem; 
            }
        }
        ion-item{
            height: 40px;
            border-radius: .7rem;
            box-shadow: 4px 4px 15px 0px #999;
        }
    }
}

ion-button{
    width: 250px;
}