<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="salirModal()">
        <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>

    <ion-title class="ion-text-capitalize" class="ion-text-center" id="title">
      Mis pagos
    </ion-title>

    <ion-buttons slot="end">
      <ion-avatar class="ion-padding">
        <!-- <ion-img src="/assets/persona.jpeg"></ion-img> -->
        <ion-img [src]="icon"></ion-img>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card id="pago">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="4">Semana de gestación</ion-col>
        <ion-col size="4">Semanas de pagos</ion-col>
        <ion-col size="4">Pago</ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid fixed id="grid2">
      <ion-row>
        <ion-col size="4">0</ion-col>
        <ion-col size="4">0</ion-col>
        <ion-col size="4">2500</ion-col>
      </ion-row>
      <ion-row *ngFor="let item of pagos">
        <ion-col size="4">{{item.semanaGesta}}</ion-col>
        <ion-col size="4">{{item.semanapago}}</ion-col>
        <ion-col size="4">{{item.pago}}</ion-col>
      </ion-row>
    </ion-grid>
    <ion-footer>
      <ion-toolbar>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="7">Semanas restantes de pago:</ion-col>
            <ion-col size="5">{{restantes}} semanas</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">El total acumulado es de:</ion-col>
            <ion-col size="6">{{totalPago | currency}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">El restante del paquete es:</ion-col>
            <ion-col size="6">{{(17500) - totalPago | currency}}</ion-col>
          </ion-row>
        </ion-grid>
        <ion-button expand="block" (click)="pagoSemana()">
          Realizar pago
        </ion-button>
      </ion-toolbar>
    </ion-footer>
  </ion-card>
</ion-content>
