#title, .servicios{
    font-size: 20px;
    color: var(--ion-color-titulos);
    font-weight: bold;
}

ion-buttons{
    ion-icon{
        margin-left: 10px;
        height: 35px;
        width: 35px;
        color: var(--ion-color-botones);
    }
}

ion-avatar{
    height: 80px;
    width: 80px;
}

#pago{
    overflow-y: scroll;
}

ion-card{
    height: 650px;
    ion-grid{
        ion-row{
            ion-col{
                text-align: center;
                font-weight: bold;
                color: white;
            }
        }
        background-color: var(--ion-color-primary);
    }
    #grid2{
        margin-top: 10px;
        background-color: white;
        ion-row{
            ion-col{
                text-align: center;
                font-weight: bold;
                color: var(--ion-color-primary);
            }
        }
    }
    ion-footer{
       ion-grid{
           background-color: white !important;
           ion-col{
            text-align: left;
            font-weight: bold;
            color: var(--ion-color-primary); 
           }
       } 
    }
}