<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        color="primary">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card-subtitle class="ion-text-center" color="primary">
    <ion-label id="title">Nuevo Integrante</ion-label>
  </ion-card-subtitle>
      <ion-grid>
        <ion-row>
            <ion-col size="12">
              <ion-icon name="person-circle" color="primary" class="person"></ion-icon>
                <ion-badge>
                  <ion-icon name="camera"></ion-icon>
                </ion-badge>
            </ion-col>
       </ion-row>
      </ion-grid>

    <form class="ion-padding" #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">

        <!-- <ion-list-header>
          <ion-label>Nombre Completo</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-input type="text" 
                     name="nombre"
                     [(ngModel)]="nombre"
                     color="tertiary">
          </ion-input>
        </ion-item> -->
      
        <ion-list-header>
          <ion-label>Id</ion-label>
        </ion-list-header>
        <ion-item>
          <!-- <ion-label position="floating" color="primary">Edad</ion-label> -->
          <ion-input type="text" 
                     name="integrantes"
                     [(ngModel)]="integrantes"
                     color="tertiary">
          </ion-input>
        </ion-item>

        <!-- <ion-list-header>
          <ion-label>Edad</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-input type="number" 
                     name="edad"
                     [(ngModel)]="edad"
                     color="tertiary">
          </ion-input>
        </ion-item>

        <ion-list-header>
          <ion-label>Genero</ion-label>
        </ion-list-header>
        <ion-item>
          
          <ion-input type="text" 
                     name="genero"
                     [(ngModel)]="genero"
                     color="tertiary">
          </ion-input>
        </ion-item>
    
        <ion-list-header>
          <ion-label>Parentesco</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label></ion-label>
          <ion-select>
            <ion-select-option value="m" color="primary">Madre</ion-select-option>
            <ion-select-option value="p" color="primary">Padre</ion-select-option>
            <ion-select-option value="h" color="primary">Hermano</ion-select-option>
          </ion-select>
        </ion-item> -->
    
        <ion-button type="submit" expand="block" class="ion-padding" color="primary">
          Agregar
        </ion-button>
    </form>
  
</ion-content>
