.circle-pic{
    width:150px;
    height:150px;
    -webkit-border-radius: 50%;
    border-radius: 100%;
    align-items: center;
    margin-top: .3rem;
}

ion-item{
    border-radius: 3rem;
    box-shadow: 4px 4px 15px 0px #999;
}
ion-label{
    font-weight:bold;
    font-size: 1rem;
}

ion-list-header{
    ion-label{
        margin-top: 35px;
    }
}

ion-title{
    text-align: right;
    font-weight: bold;
}

ion-list-header{
    font-size: .8rem;
    margin-top: -15px;
}

ion-input{
    font-size: .8rem;
}

ion-row {
    text-align: center;
    margin: 0px;
}
ion-badge{
    border-radius: 50%;
    margin-left: -10%;
    margin-top: -50%;
    padding: 5px;
}
ion-icon {
    font-size: 25px; //Preferred size here
    right: 150px;
}
ion-card{
    border-radius: 30px;
    height: 40rem;
    width: 22rem;
}

ion-item-divider{
    border: 0;
    margin-left: 35%;
    margin-top: 5%;
    margin-bottom: 0px;
    max-width: 97px;
    min-height: 8px !important;
    background-color: #999;
    box-shadow: 4px 4px 6px 1px #999;
    border-radius: 20px !important;
}

#title{
    margin-top: 1rem;
    font-size: 1.4em !important;
    font-weight: bold;
}

.person{
    font-size: 120px;
}