ion-img{
    margin-top: 20px;
}
.alignme {
    text-align: right;
}
.center{
    text-align: center;
}
.tachado {
    text-decoration: line-through;
}
ion-text{
    ion-item-divider{
        border: 0;
        margin-left: 8%;
        margin-top: 0%;
        margin-bottom: 10px;
        max-width: 350px;
        min-height: 1px !important;
        background-color: #000000;
        --background: var(--ion-color-light-shade);
    }
}

.total{
    padding: 20px;
    #top{
        border: 0;
        margin-left: 3%;
        margin-top: 0%;
        margin-bottom: 10px;
        max-width: 350px;
        min-height: .8px !important;
        background-color: #000000;
    }
    #bottom{
        border: 0;
        margin-left: 3%;
        margin-top: 0%;
        max-width: 350px;
        min-height: 1px !important;
        background-color: #000000;
    }
    ion-label{
        font-size: 18px;
    }
    ion-badge{
        font-size: 18px;
    }
}

.divider{
    --background: var(--ion-color-light-shade);
    /* background: var(--ion-color-primary); */
    margin-bottom: 10px;
    background-color: var(--ion-color-light-shade);
}
ion-label{
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
}




/* ion-toolbar{
    --background: var(--ion-color-primary);
    ion-back-button{
        color: var(--ion-color-primary-contrast);
    }
}
.list-md{
    background: var(--ion-color-light-shade);
}

 ion-item-divider{
    width: 90%;
    margin-left: 5%;
    min-height: .8px !important;
    background-color: var(--ion-color-primary-contrast);
}

ion-card{
    background: var(--ion-color-primary) !important;
    ion-label{
        color: var(--ion-color-primary-contrast);
        font-size: 1rem;
        font-weight: bolder;
    }
    ion-row{
        height:20px;
        margin-bottom: 5px;
    }
    #titulo{
        font-size: 1.3rem;
    }
}

#adquiridos{
    margin-top: 10px;
    ion-label{
        font-size: 1.5rem !important;
        font-weight: bolder !important;
        color: var(--ion-color-primary) !important; 
    } 
}

ion-list{
    margin: 0 10px;
    ion-item{
        padding: 0;
        margin: 14px 0;
        --border-radius: 14px;
        ion-grid{
            background: var(--ion-color-primary);
            color: var(--ion-color-primary-contrast);
            border-radius: 14px;
            ion-icon{
                height: 40px;
                width: 40px;
            }
            ion-label{
                font-size: 1rem;
                font-weight: normal !important;
            }
            
        }
    }
}

#total{
    padding: 0 16px 16px 16px;
}

ion-card{
    background-color: var(--ion-color-primary);
    border-radius: 0 0 28px 28px;
    box-shadow: none !important;
    margin: 0;
    width: 100%;
    height: 30%;
} */ 