<ion-content>
  <ion-img src="assets/icons/logo/logo1.png" class="ion-padding"></ion-img>
  <h2 class="center">Gracias por su compra</h2>
  <ion-text color="dark">
    <h1 class="ion-text-center">TICKET</h1>
    <ion-item-divider></ion-item-divider>
  </ion-text>
  <ion-list class="ion-padding" class="divider">
    <ion-item *ngFor="let estudios of item.estudios" class="divider" lines="none">
      <ion-label *ngIf="membresia ==false">{{estudios.nombreEstudio}}</ion-label><ion-label class="alignme" *ngIf="membresia == false">{{estudios.precioSin | currency}} MX</ion-label>
      <ion-label *ngIf="membresia ==true">{{estudios.nombreEstudio}}</ion-label><ion-label class="alignme" *ngIf="membresia ==true">{{estudios.precioCon | currency}} MX</ion-label>
    </ion-item>
  </ion-list>
  
  <ion-grid fixed class="total">
    <ion-row>
      <ion-item-divider id="top"></ion-item-divider>
      <ion-col size="6">
        <ion-label>Total</ion-label>
      </ion-col>
      <ion-col size="6" class="alignme">
        <ion-badge color="primary" mode="ios">{{item.totalCompra | currency}} MX</ion-badge>
      </ion-col>
      <ion-item-divider id="bottom"></ion-item-divider>
      <!-- <ion-label class="ion-padding">{{totalLetra}}</ion-label> -->
    </ion-row>
  </ion-grid>

  <ion-item-divider class="divider"></ion-item-divider>
  <ion-label>Metodo de pago</ion-label>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-label>{{pago}}</ion-label>
      </ion-col>
      <ion-col size="6" class="alignme">
        <ion-label>{{item.totalCompra | currency}} MX</ion-label>
        <!-- <ion-badge color="primary" mode="ios">{{item.totalCompra | currency}} MX</ion-badge> -->
      </ion-col>
      <!-- <ion-label class="ion-padding">{{totalLetra}}</ion-label> -->
    </ion-row>
  </ion-grid>
  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    
    <ion-fab-button>
      <ion-icon name="arrow-up-outline"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button color="light">
        <ion-icon name="share-social"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="download"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    
  </ion-fab> -->
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="salirModal()" expand="block" shape="round" color="primary">
      Cerrar Ticket
    </ion-button>
  </ion-toolbar>
</ion-footer>









































<!-- <ion-header class="ion-no-border" translucent="true">
  <ion-toolbar class="ion-no-border">
      <ion-buttons slot="start">
        <ion-back-button
          defaultHref=""
          (click)="salirSinArgumentos()">
        </ion-back-button>
      </ion-buttons>    
  </ion-toolbar>
</ion-header> 

<ion-content class="ion-no-border">
  <ion-card class="ion-no-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-label id="titulo">Detalles de la Compra  </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-label>{{item.fecha | date: 'dd/MM/yyyy'}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-grid *ngIf="membresia == false">
      <ion-row class="ion-padding">
        <ion-col size="9">
          <ion-label>
              Servicios
          </ion-label>
        </ion-col>
        <ion-col size="3">
          <ion-label>
              {{item.totalCompra | currency}}
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="membresia == true">
      <ion-row class="ion-padding">
        <ion-col size="9">
          <ion-label>
              Servicios
          </ion-label>
        </ion-col>
        <ion-col size="3">
          <ion-label>
              {{total | currency }}
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding">
        <ion-col size="9">
          <ion-label>
              Descuento de membresia
          </ion-label>
        </ion-col>
        <ion-col size="3">
          <ion-label>
              {{total - item.totalCompra | currency }}
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item-divider></ion-item-divider>
    <ion-grid>
      <ion-row id="total">
        <ion-col size="9">
          <ion-label>Tu pago</ion-label>
        </ion-col>
        <ion-col size="3">
          <ion-label>{{item.totalCompra | currency}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-grid id="adquiridos">
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-label>Servicios Adquiridos</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list class="animate__animated animate__fadeIn">
    <ion-item *ngFor="let items of item.estudios" lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="10">
            <ion-label>
                {{items.nombreEstudio}}
            </ion-label>

            <ion-label>
              {{items.precioSin | currency}}
            </ion-label>
          </ion-col>
          <ion-col size="2">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content> -->
