<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="salirModal()">
        <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>

    <ion-title class="ion-text-capitalize" class="ion-text-center" id="title">
      Mi paquete
    </ion-title>

    <ion-buttons slot="end">
      <ion-avatar class="ion-padding">
        <!-- <ion-img src="/assets/persona.jpeg"></ion-img> -->
        <ion-img [src]="paquete.icon"></ion-img>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title id="citas">Citas Incluidas</ion-title>

  <ion-slides scrollbar="md" [options]="slidesOptions" class="slide">
    <ion-slide>
      <ion-card class="card" id="abierta">
        <ion-badge id="badegeGineco" color="#ffff" mode="ios">
          <p>{{abierta}}</p> 
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          <p class="text-center">Cita abierta a Urgencias con Médico General</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="card" id="estancia">
        <ion-badge color="#ffff" mode="ios" id="badegePediatria">
          <p>{{estancia}}</p> 
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          <p class="text-center">Estancias cortas de hasta 8 Horas en Urgencias</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="card" id="certificado">
        <ion-badge color="#ffff" mode="ios" id="badegePediatria">
          <p>{{certificado}}</p> 
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          <p class="text-center">1 Certificado Médico Escolar</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-title id="lab">Laboratorios Incluidos</ion-title>

  <ion-slides scrollbar="md" [options]="slidesOptions" class="slide" id="laboratorios">
    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios" id="badgeMG">
          <p>{{egoCount}}</p>
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          1 Grupo Sanguineo y Factor RH
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios" id="badgeMG">
          <p>{{ego2Count}}</p>
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          1 Biometria Hematica Completa
        </ion-card-content>
      </ion-card>
    </ion-slide>  
    
    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios" id="badgeMG">
          <p>{{ego3Count}}</p>
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          2 Examen General de Orina
        </ion-card-content>
      </ion-card>
    </ion-slide>
    
    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios" id="badgeMG">
          <p>{{ego4Count}}</p>
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          1 Examen coprológico
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>


