<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/">
      </ion-back-button>
    </ion-buttons>


    <ion-title class="ion-text-capitalize" class="ion-text-center">
      Recepción
    </ion-title>

    <ion-buttons slot="start">
      <ion-avatar class="ion-padding">
        <!-- <ion-img src="/assets/persona.jpeg"></ion-img> -->
        <ion-icon name="person-circle"></ion-icon>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
