ion-content{
    background-color: var(--ion-color-light-shade);
    ion-list{
        background-color: var(--ion-color-light-shade);
        ion-item{
            background-color: var(--ion-color-light-shade);
        }
    }
}