<!-- <ion-header>
  <ion-toolbar>
    <ion-title>chat</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-list>
    <ion-item routerLink="mensajes-chat">
      <ion-avatar slot="start">
        <img src="../../../../../assets/reception.svg">
      </ion-avatar>
      <ion-label>
        <h2>Recepción</h2>
        <p>Hola, buenas tardes</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
