#primario{
    margin-top: 5%;
}

/* .tachado {
    text-decoration: line-through;
} */

ion-icon{
    font-size: 30px; //Preferred size here
    padding: 5px;
    right: 150px;
}

ion-button{
    --border-radius: 120px;
}

ion-label{
    color: white;
    font-weight: bold;
}