.circle-pic{
    width:150px;
    height:150px;
    -webkit-border-radius: 50%;
    border-radius: 100%;
    align-items: center;
    margin-top: .3rem;
}
ion-toolbar{
    ion-title{
        text-align: right;
        font-weight: bold;
        width: 100px;
    }
}

ion-list-header{
    font-size: .8rem;
    margin-top: -15px;
}

ion-input{
    font-size: .8rem;
}

ion-row {
    text-align: center;
    margin: 0px;
}
ion-badge{
    border-radius: 50%;
    margin-left: -10%;
    margin-top: -50%;
    padding: 5px;
}
ion-icon{
    font-size: 150px;
}
ion-card{
    border-radius: 30px;
    height: 30rem;
    width: 22rem;
}

.dividir{
    border: 0;
    margin-left: 35%;
    margin-top: 5%;
    margin-bottom: 0px;
    max-width: 97px;
    min-height: 8px !important;
    background-color: #999;
    box-shadow: 4px 4px 6px 1px #999;
    border-radius: 20px !important;
}

#nombre{
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}

#correo{
    margin-top: 5%;
    text-align: center;
    font-size: 1.2rem;
}

#contraseña{
    text-align: center;
    font-size: 1.3rem;
    margin-top: 2%;
}

#fecha{
    font-size: 1.1rem;
    margin-top: 5%;
}

.grid{
    margin-top: -15px;
}

#primario{
    margin-top: 5% !important;
}

#nombre{
    margin-top: -30px;
}


.sexsan{
    font-size: 1.1rem;
    text-align: right;
}

.colores{
    height: 5rem;
    width: 22rem;
}

ion-button{
    --color: var(--ion-color-titulos);
}

.card{
    box-shadow: none;
    width:150px;
    height:50px;
    -webkit-border-radius: 50%;
    border-radius: 100%;
    padding: 0%;
    ion-card-content{
        padding: 0%;
    }
    ion-badge{
        border-radius: 40%;   
    }
}

.cards{
    margin-top: 30px;
    height: 140px !important;
    ion-item-divider{
        min-height: 1px !important;
        background-color:#999;
    }
    ion-title{
        margin-top: 10px;
    }
    ion-title{
        ion-grid{
            ion-row{
                ion-col{
                    width:40px;
                    height:40px;
                    ion-avatar{
                        padding: 0px;
                        width:40px;
                        height:40px;
                        ion-badge{
                            margin-top: 0px;
                            width:40px;
                            height:40px; 
                            ion-icon{
                                width:40px;
                                height:40px; 
                            }
                        }
                    }                    
                }
                .texto{
                    margin-top: 6px;
                    text-align: left;
                }
            }
        }
    }
}

ion-slides{
    #agregar{
        background-color:#273C74;
    }
    #agregar2{
        background-color: #b771b5;
    }
    #agregar3{
        background-color: #222428;
    }
    #agregar4{
        background-color:#ee6868;
    }
    #agregar5{
        background-color: #4b8b56;
    }
}

ion-label{
    color: var(--ion-color-texto);
}

