<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="9"></ion-col>
        <ion-col size="3">
          <ion-title color="success" routerLink="editar">Editar</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
      
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <!-- <ion-item>
    <ion-label>Theme Pink</ion-label>
    <ion-toggle (ionChange)="onToggleColorTheme($event)"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Theme Pink 2</ion-label>
    <ion-toggle (ionChange)="onToggleColorThemes($event)"></ion-toggle>
  </ion-item> -->
  <ion-card class="ion-padding">
    <ion-item-divider class="dividir"></ion-item-divider>
      <ion-grid>
        <ion-row>
            <ion-col size="12">
                <!-- <img class="circle-pic" src="/assets/persona.jpeg" style="align-items: center"/> -->
                <ion-grid>
                  <ion-row>
                      <ion-col size="12">
                          <ion-icon name="person-circle" color="texto"></ion-icon>
                      </ion-col>
                 </ion-row>
                </ion-grid>
                <!-- <ion-badge>
                  <ion-icon name="camera"></ion-icon>
                </ion-badge> -->
            </ion-col>
       </ion-row>
      </ion-grid>

      <ion-grid fixed id="nombre">
        <ion-row>
          <ion-col size="12">
            <ion-label id="nombre" color="texto">
              {{paciente.usuario.nombrePaciente}} {{paciente.usuario.apellidoPaterno}} {{paciente.usuario.apellidoMaterno}}
            </ion-label>  
            
            <!-- <ion-label id="correo" color="tertiary">
              {{paciente.usuario.correoPaciente}}
            </ion-label>
      
            <ion-label id="contraseña" color="primary">Contraseña ********************</ion-label> -->
      
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
          
            <ion-label id="correo" color="tertiary">
              {{paciente.usuario.correoPaciente}}
            </ion-label>
      
            <!-- <ion-label id="contraseña" color="primary">Contraseña ********************</ion-label> -->
      
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
          
            
      
            <ion-label id="contraseña" color="texto" (click)="copy(paciente.usuario._id)">ID {{paciente.usuario._id}}</ion-label>
      
          </ion-col>
        </ion-row>
      </ion-grid>
      
      <ion-grid fixed class="grid" id="primario">
        <ion-row>
          <ion-col size="6" class="ion-text-left">
            <ion-label color="texto">Fecha de nacimiento</ion-label>
          </ion-col>
          <ion-col size="6" class="ion-text-right">
            <ion-label color="texto" id="fecha">{{paciente.usuario.fechaNacimientoPaciente}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid fixed class="grid">
        <ion-row>
          <ion-col size="6" class="ion-text-left">
            <ion-label color="texto" >Sexo</ion-label>
          </ion-col>
          <ion-col size="6" class="ion-text-right">
            <ion-label color="texto" class="sexsan">{{paciente.usuario.genero | titlecase}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid fixed class="grid">
        <ion-row>
          <ion-col size="6" class="ion-text-left">
            <ion-label color="texto" >Edad</ion-label>
          </ion-col>
          <ion-col size="6" class="ion-text-right">
            <ion-label color="texto" class="sexsan">{{paciente.usuario.edad}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid fixed class="grid">
        <ion-row>
          <ion-col size="6" class="ion-text-left">
            <ion-label color="texto" >Telefono</ion-label>
          </ion-col>
          <ion-col size="6" class="ion-text-right">
            <ion-label color="texto" class="sexsan">{{paciente.usuario.telefono}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-card>

  <ion-card class="cards">
    <ion-title color="texto">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="2">
            <ion-avatar>
              <ion-badge id="principal" mode="ios">
                <ion-icon></ion-icon>
              </ion-badge>
            </ion-avatar>
          </ion-col>
          <ion-col size="10" class="texto">
            <ion-label>Tema Actual</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
    <ion-item-divider></ion-item-divider>
    <ion-slides [options]="slidesOptions">
      <ion-slide>
        <ion-card class="card">
          <ion-card-content class="ion-text-left">
            <!-- <ion-img src="assets/triste.svg"></ion-img> -->
            <ion-badge id="agregar" (click)="Theme('azul')">
              <ion-icon></ion-icon>
            </ion-badge>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="card">
          <ion-card-content class="ion-text-left">
            <!-- <ion-img src="assets/triste.svg"></ion-img> -->
            <ion-badge id="agregar2" (click)="Theme('pink')">
              <ion-icon></ion-icon>
            </ion-badge>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="card">
          <ion-card-content class="ion-text-left">
            <!-- <ion-img src="assets/triste.svg"></ion-img> -->
            <ion-badge id="agregar3" (click)="Theme('dark')">
              <ion-icon></ion-icon>
            </ion-badge>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="card">
          <ion-card-content class="ion-text-left">
            <!-- <ion-img src="assets/triste.svg"></ion-img> -->
            <ion-badge id="agregar4" (click)="Theme('red')">
              <ion-icon></ion-icon>
            </ion-badge>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="card">
          <ion-card-content class="ion-text-left">
            <!-- <ion-img src="assets/triste.svg"></ion-img> -->
            <ion-badge id="agregar5" (click)="Theme('green')">
              <ion-icon></ion-icon>
            </ion-badge>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-card>
  <ion-button routerLink="ubicacion" expand="block" fill="clear" shape="round">
    Ubicacion de Sucursales
  </ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="onClick()" expand="block" fill="clear" shape="round">
      Cerrar sesion
    </ion-button>
  </ion-toolbar>
</ion-footer>