// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #273C74;
  --ion-color-primary-rgb: 39,60,116;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #223566;
  --ion-color-primary-tint: #3d5082;

  /** secondary **/
  --ion-color-secondary: #00BBF1;
  --ion-color-secondary-rgb: 0,187,241;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #00a5d4;
  --ion-color-secondary-tint: #1ac2f2;

  /** tertiary **/
  --ion-color-tertiary: #E2CA19;
  --ion-color-tertiary-rgb: 226,202,25;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #c7b216;
  --ion-color-tertiary-tint: #e5cf30;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #FC0000;
  --ion-color-danger-rgb: 252,0,0;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #de0000;
  --ion-color-danger-tint: #fc1a1a;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #F8F9FC;
  --ion-color-light-tint: #f5f6f9;
  /* facebook */
  --ion-color-facebook: #3b5998;
  --ion-color-facebook-rgb: 59,89,152;
  --ion-color-facebook-contrast: #ffffff;
  --ion-color-facebook-contrast-rgb: 255,255,255;
  --ion-color-facebook-shade: #344e86;
  --ion-color-facebook-tint: #4f6aa2;

  /* gmail */
  --ion-color-gmail: #db4a39;
  --ion-color-gmail-rgb: 219,74,57;
  --ion-color-gmail-contrast: #ffffff;
  --ion-color-gmail-contrast-rgb: 255,255,255;
  --ion-color-gmail-shade: #c14132;
  --ion-color-gmail-tint: #df5c4d;

  /* apple */
  --ion-color-apple: #222428;
  --ion-color-apple-rgb: 34, 36, 40;
  --ion-color-apple-contrast: #ffffff;
  --ion-color-apple-contrast-rgb: 255, 255, 255;
  --ion-color-apple-shade: #1e2023;
  --ion-color-apple-tint: #383a3e;

  /* Carrito */
  --ion-color-carrito: #00BBF1;
  --ion-color-carrito-rgb: 0,187,241;
  --ion-color-carrito-contrast: #ffffff;
  --ion-color-carrito-contrast-rgb: 0,0,0;
  --ion-color-carrito-shade: #00a5d4;
  --ion-color-carrito-tint: #1ac2f2;

  /* Card */
  --ion-color-card: #ffffff;
  --ion-color-card-rgb: 255,255,255;
  --ion-color-card-contrast: #000000;
  --ion-color-card-contrast-rgb: 0,0,0;
  --ion-color-card-shade: #e0e0e0;
  --ion-color-card-tint: #ffffff;

  /* Titulos */
  --ion-color-titulos: #273C74;
  --ion-color-titulos-rgb: 39,60,116;
  --ion-color-titulos-contrast: #ffffff;
  --ion-color-titulos-contrast-rgb: 255,255,255;
  --ion-color-titulos-shade: #223566;
  --ion-color-titulos-tint: #3d5082;

  /* Texto */
  --ion-color-texto: #273C74;
  --ion-color-texto-rgb: 39,60,116;
  --ion-color-texto-contrast: #ffffff;
  --ion-color-texto-contrast-rgb: 255,255,255;
  --ion-color-texto-shade: #223566;
  --ion-color-texto-tint: #3d5082;

  /* Botones */
  --ion-color-botones: #273C74;
  --ion-color-botones-rgb: 39,60,116;
  --ion-color-botones-contrast: #ffffff;
  --ion-color-botones-contrast-rgb: 255,255,255;
  --ion-color-botones-shade: #223566;
  --ion-color-botones-tint: #3d5082;
  
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    /** primary **/
  --ion-color-primary: #273C74;
  --ion-color-primary-rgb: 39,60,116;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #223566;
  --ion-color-primary-tint: #3d5082;

  /** secondary **/
  --ion-color-secondary: #00BBF1;
  --ion-color-secondary-rgb: 0,187,241;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #00a5d4;
  --ion-color-secondary-tint: #1ac2f2;

  /** tertiary **/
  --ion-color-tertiary: #E2CA19;
  --ion-color-tertiary-rgb: 226,202,25;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #c7b216;
  --ion-color-tertiary-tint: #e5cf30;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #FC0000;
  --ion-color-danger-rgb: 252,0,0;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #de0000;
  --ion-color-danger-tint: #fc1a1a;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
  /* facebook */
  --ion-color-facebook: #3b5998;
  --ion-color-facebook-rgb: 59,89,152;
  --ion-color-facebook-contrast: #ffffff;
  --ion-color-facebook-contrast-rgb: 255,255,255;
  --ion-color-facebook-shade: #344e86;
  --ion-color-facebook-tint: #4f6aa2;

  /* gmail */
  --ion-color-gmail: #db4a39;
  --ion-color-gmail-rgb: 219,74,57;
  --ion-color-gmail-contrast: #ffffff;
  --ion-color-gmail-contrast-rgb: 255,255,255;
  --ion-color-gmail-shade: #c14132;
  --ion-color-gmail-tint: #df5c4d;

  /* apple */
  --ion-color-apple: #222428;
  --ion-color-apple-rgb: 34, 36, 40;
  --ion-color-apple-contrast: #ffffff;
  --ion-color-apple-contrast-rgb: 255, 255, 255;
  --ion-color-apple-shade: #1e2023;
  --ion-color-apple-tint: #383a3e;

  /* Card */
  --ion-color-card: #F8F9FC;
  --ion-color-card-rgb: 248,249,252;
  --ion-color-card-contrast: #000000;
  --ion-color-card-contrast-rgb: 0,0,0;
  --ion-color-card-shade: #dadbde;
  --ion-color-card-tint: #f9fafc;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-toolbar-background: #0d0d0d;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }
}





/*
 * Dark Colors
 * -------------------------------------------
 */

body.dark {
  --ion-color-primary: #ffffff;
  --ion-color-primary-rgb: 255,255,255;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #e0e0e0;
  --ion-color-primary-tint: #ffffff;

  /** secondary **/
  --ion-color-secondary: #00BBF1;
  --ion-color-secondary-rgb: 0,187,241;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #00a5d4;
  --ion-color-secondary-tint: #1ac2f2;

  /** tertiary **/
  --ion-color-tertiary: #E2CA19;
  --ion-color-tertiary-rgb: 226,202,25;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #c7b216;
  --ion-color-tertiary-tint: #e5cf30;

  --ion-color-success: #2fdf75;
  --ion-color-success-rgb: 47,223,117;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #29c467;
  --ion-color-success-tint: #44e283;

  --ion-color-warning: #ffd534;
  --ion-color-warning-rgb: 255,213,52;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0bb2e;
  --ion-color-warning-tint: #ffd948;

  --ion-color-danger: #ff4961;
  --ion-color-danger-rgb: 255,73,97;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #e04055;
  --ion-color-danger-tint: #ff5b71;

  --ion-color-dark: #f4f5f8;
  --ion-color-dark-rgb: 244,245,248;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0,0,0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #222428;
  --ion-color-light-rgb: 34,36,40;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255,255,255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;

  /* Card */
  --ion-color-card: #F8F9FC;
  --ion-color-card-rgb: 248,249,252;
  --ion-color-card-contrast: #000000;
  --ion-color-card-contrast-rgb: 0,0,0;
  --ion-color-card-shade: #dadbde;
  --ion-color-card-tint: #f9fafc;

  /* Titulos */
  --ion-color-titulos: #ffffff;
  --ion-color-titulos-rgb: 255,255,255;
  --ion-color-titulos-contrast: #000000;
  --ion-color-titulos-contrast-rgb: 0,0,0;
  --ion-color-titulos-shade: #e0e0e0;
  --ion-color-titulos-tint: #ffffff;

  /* Texto */
  --ion-color-texto: #273C74;
  --ion-color-texto-rgb: 39,60,116;
  --ion-color-texto-contrast: #ffffff;
  --ion-color-texto-contrast-rgb: 255,255,255;
  --ion-color-texto-shade: #223566;
  --ion-color-texto-tint: #3d5082;

  /* Botones */
  --ion-color-botones: #ffffff;
  --ion-color-botones-rgb: 255,255,255;
  --ion-color-botones-contrast: #000000;
  --ion-color-botones-contrast-rgb: 0,0,0;
  --ion-color-botones-shade: #e0e0e0;
  --ion-color-botones-tint: #ffffff;
}

/*
 * iOS Dark Theme
 * -------------------------------------------
 */

.ios body.dark {
  --ion-background-color: #000000;
  --ion-background-color-rgb: 0,0,0;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255,255,255;

  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;

  --ion-toolbar-background: #0d0d0d;

  --ion-item-background: #000000;

  --ion-card-background: #1c1c1d;
}


/*
 * Material Design Dark Theme
 * -------------------------------------------
 */

.md body.dark {
  --ion-background-color: #121212;
  --ion-background-color-rgb: 18,18,18;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255,255,255;

  --ion-border-color: #222222;

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --ion-item-background: #1e1e1e;

  --ion-toolbar-background: #1f1f1f;

  --ion-tab-bar-background: #1f1f1f;

  --ion-card-background: #1e1e1e;
}

body.pink {
  --ion-color-primary: #b771b5;
  --ion-color-primary-rgb: 183,113,181;
  --ion-color-primary-contrast:#ffffff;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #a1639f;
  --ion-color-primary-tint: #be7fbc;

  --ion-color-secondary: #cb58d5;
  --ion-color-secondary-rgb: 203,88,213;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #b34dbb;
  --ion-color-secondary-tint: #d069d9;

  --ion-color-tertiary: #eecece;
  --ion-color-tertiary-rgb: 238,206,206;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #d1b5b5;
  --ion-color-tertiary-tint: #f0d3d3;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45,211,111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235,68,90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,36,40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146,148,156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,245,248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #F8F9FC;
  --ion-color-light-tint: #f5f6f9;

  /* Carrito */
  --ion-color-carrito: #eecece;
  --ion-color-carrito-rgb: 238,206,206;
  --ion-color-carrito-contrast: #000000;
  --ion-color-carrito-contrast-rgb: 0,0,0;
  --ion-color-carrito-shade: #d1b5b5;
  --ion-color-carrito-tint: #f0d3d3;

  /* Titulos */
  --ion-color-titulos: #b771b5;
  --ion-color-titulos-rgb: 183,113,181;
  --ion-color-titulos-contrast: #ffffff;
  --ion-color-titulos-contrast-rgb: 0,0,0;
  --ion-color-titulos-shade: #a1639f;
  --ion-color-titulos-tint: #be7fbc;

  /* Texto */
  --ion-color-texto: #b771b5;
  --ion-color-texto-rgb: 183,113,181;
  --ion-color-texto-contrast: #ffffff;
  --ion-color-texto-contrast-rgb: 0,0,0;
  --ion-color-texto-shade: #a1639f;
  --ion-color-texto-tint: #be7fbc;

  /* Botones */
  --ion-color-botones: #b771b5;
  --ion-color-botones-rgb: 183,113,181;
  --ion-color-botones-contrast: #ffffff;
  --ion-color-botones-contrast-rgb: 0,0,0;
  --ion-color-botones-shade: #a1639f;
  --ion-color-botones-tint: #be7fbc;
}

.md body[color-theme="pink"]{
  --ion-background-color: #ffffff;
  --ion-background-color-rgb: 255,255,255;

  --ion-text-color: #96458f;
  --ion-text-color-rgb: 150,69,143;

  --ion-color-step-50: #faf6f9;
  --ion-color-step-100: #f5ecf4;
  --ion-color-step-150: #efe3ee;
  --ion-color-step-200: #eadae9;
  --ion-color-step-250: #e5d1e3;
  --ion-color-step-300: #e0c7dd;
  --ion-color-step-350: #dabed8;
  --ion-color-step-400: #d5b5d2;
  --ion-color-step-450: #d0abcd;
  --ion-color-step-500: #cba2c7;
  --ion-color-step-550: #c599c1;
  --ion-color-step-600: #c08fbc;
  --ion-color-step-650: #bb86b6;
  --ion-color-step-700: #b67db1;
  --ion-color-step-750: #b074ab;
  --ion-color-step-800: #ab6aa5;
  --ion-color-step-850: #a661a0;
  --ion-color-step-900: #a1589a;
  --ion-color-step-950: #9b4e95;
}

body.red{
  --ion-color-primary: #e89292;
  --ion-color-primary-rgb: 232,146,146;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #cc8080;
  --ion-color-primary-tint: #ea9d9d;

  --ion-color-secondary: #ffc9b8;
  --ion-color-secondary-rgb: 255,201,184;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #e0b1a2;
  --ion-color-secondary-tint: #ffcebf;

  --ion-color-tertiary: #ffd1d1;
  --ion-color-tertiary-rgb: 255,209,209;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #e0b8b8;
  --ion-color-tertiary-tint: #ffd6d6;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45,211,111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235,68,90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #4f4f4f;
  --ion-color-dark-rgb: 79,79,79;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #464646;
  --ion-color-dark-tint: #616161;

  --ion-color-medium: #616161;
  --ion-color-medium-rgb: 97,97,97;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #555555;
  --ion-color-medium-tint: #717171;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,245,248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #F8F9FC;
  --ion-color-light-tint: #f5f6f9;

  /* Carrito */
  --ion-color-carrito: #eecece;
  --ion-color-carrito-rgb: 238,206,206;
  --ion-color-carrito-contrast: #000000;
  --ion-color-carrito-contrast-rgb: 0,0,0;
  --ion-color-carrito-shade: #d1b5b5;
  --ion-color-carrito-tint: #f0d3d3;

  /* Titulos */
  --ion-color-titulos: #e89292;
  --ion-color-titulos-rgb: 232,146,146;
  --ion-color-titulos-contrast: #ffffff;
  --ion-color-titulos-contrast-rgb: 0,0,0;
  --ion-color-titulos-shade: #cc8080;
  --ion-color-titulos-tint: #ea9d9d;

  /* Texto */
  --ion-color-texto: #e89292;
  --ion-color-texto-rgb: 232,146,146;
  --ion-color-texto-contrast: #ffffff;
  --ion-color-texto-contrast-rgb: 0,0,0;
  --ion-color-texto-shade: #cc8080;
  --ion-color-texto-tint: #ea9d9d;

  /* Botones */
  --ion-color-botones: #e89292;
  --ion-color-botones-rgb: 232,146,146;
  --ion-color-botones-contrast: #ffffff;
  --ion-color-botones-contrast-rgb: 0,0,0;
  --ion-color-botones-shade: #cc8080;
  --ion-color-botones-tint: #ea9d9d;
}

body.green {
  --ion-color-primary: #3c6d44;
  --ion-color-primary-rgb: 60,109,68;
  --ion-color-primary-contrast:#ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #35603c;
  --ion-color-primary-tint: #507c57;

  --ion-color-secondary: #7bd189;
  --ion-color-secondary-rgb: 123,209,137;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #6cb879;
  --ion-color-secondary-tint: #88d695;

  --ion-color-tertiary: #4fe392;
  --ion-color-tertiary-rgb: 79,227,146;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #46c880;
  --ion-color-tertiary-tint: #61e69d;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45,211,111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235,68,90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #4f4f4f;
  --ion-color-dark-rgb: 79,79,79;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #464646;
  --ion-color-dark-tint: #616161;

  --ion-color-medium: #616161;
  --ion-color-medium-rgb: 97,97,97;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #555555;
  --ion-color-medium-tint: #717171;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,245,248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #F8F9FC;
  --ion-color-light-tint: #f5f6f9;

  /* Carrito */
  --ion-color-carrito: #c3f3d8;
  --ion-color-carrito-rgb: 195,243,216;
  --ion-color-carrito-contrast: #000000;
  --ion-color-carrito-contrast-rgb: 0,0,0;
  --ion-color-carrito-shade: #acd6be;
  --ion-color-carrito-tint: #c9f4dc;

  /* Titulos */
  --ion-color-titulos: #3c6d44;
  --ion-color-titulos-rgb: 60,109,68;
  --ion-color-titulos-contrast:#ffffff;
  --ion-color-titulos-contrast-rgb: 255,255,255;
  --ion-color-titulos-shade: #35603c;
  --ion-color-titulos-tint: #507c57;

  /* Texto */
  --ion-color-texto: #3c6d44;
  --ion-color-texto-rgb: 60,109,68;
  --ion-color-texto-contrast:#ffffff;
  --ion-color-texto-contrast-rgb: 255,255,255;
  --ion-color-texto-shade: #35603c;
  --ion-color-texto-tint: #507c57;

  /* Botones */
  --ion-color-botones: #3c6d44;
  --ion-color-botones-rgb: 60,109,68;
  --ion-color-botones-contrast:#ffffff;
  --ion-color-botones-contrast-rgb: 255,255,255;
  --ion-color-botones-shade: #35603c;
  --ion-color-botones-tint: #507c57;
}




.ion-color-facebook {
  --ion-color-base: var(--ion-color-facebook) !important;
  --ion-color-base-rgb: var(--ion-color-facebook-rgb) !important;
  --ion-color-contrast: var(--ion-color-facebook-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-facebook-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-facebook-shade) !important;
  --ion-color-tint: var(--ion-color-facebook-tint) !important;
} 
.ion-color-gmail {
  --ion-color-base: var(--ion-color-gmail) !important;
  --ion-color-base-rgb: var(--ion-color-gmail-rgb) !important;
  --ion-color-contrast: var(--ion-color-gmail-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-gmail-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-gmail-shade) !important;
  --ion-color-tint: var(--ion-color-gmail-tint) !important;
} 
.ion-color-apple {
  --ion-color-base: var(--ion-color-apple) !important;
  --ion-color-base-rgb: var(--ion-color-apple-rgb) !important;
  --ion-color-contrast: var(--ion-color-apple-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-apple-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-apple-shade) !important;
  --ion-color-tint: var(--ion-color-apple-tint) !important;
}
.ion-color-carrito {
  --ion-color-base: var(--ion-color-carrito) !important;
  --ion-color-base-rgb: var(--ion-color-carrito-rgb) !important;
  --ion-color-contrast: var(--ion-color-carrito-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-carrito-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-carrito-shade) !important;
  --ion-color-tint: var(--ion-color-carrito-tint) !important;
} 
.ion-color-card {
  --ion-color-base: var(--ion-color-card) !important;
  --ion-color-base-rgb: var(--ion-color-card-rgb) !important;
  --ion-color-contrast: var(--ion-color-card-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-card-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-card-shade) !important;
  --ion-color-tint: var(--ion-color-card-tint) !important;
}
.ion-color-titulos {
  --ion-color-base: var(--ion-color-titulos) !important;
  --ion-color-base-rgb: var(--ion-color-titulos-rgb) !important;
  --ion-color-contrast: var(--ion-color-titulos-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-titulos-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-titulos-shade) !important;
  --ion-color-tint: var(--ion-color-titulos-tint) !important;
}
.ion-color-texto {
  --ion-color-base: var(--ion-color-texto) !important;
  --ion-color-base-rgb: var(--ion-color-texto-rgb) !important;
  --ion-color-contrast: var(--ion-color-texto-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-texto-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-texto-shade) !important;
  --ion-color-tint: var(--ion-color-texto-tint) !important;
}
.ion-color-botones {
  --ion-color-base: var(--ion-color-botones) !important;
  --ion-color-base-rgb: var(--ion-color-botones-rgb) !important;
  --ion-color-contrast: var(--ion-color-botones-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-botones-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-botones-shade) !important;
  --ion-color-tint: var(--ion-color-botones-tint) !important;
}