<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="salirModal()">
        <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>

    <ion-title class="ion-text-capitalize" class="ion-text-center" id="title">
      Mi paquete
    </ion-title>

    <ion-buttons slot="end">
      <ion-avatar class="ion-padding">
        <!-- <ion-img src="/assets/persona.jpeg"></ion-img> -->
        <ion-img [src]="paquete.icon"></ion-img>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title id="citas">Citas Incluidas</ion-title>

  <ion-slides scrollbar="md" [options]="slidesOptions" class="slide">
    <ion-slide>
      <ion-card class="card" id="gineco">
        <ion-badge id="badegeGineco" color="#ffff" mode="ios">
          <p>{{egoCount}}</p> 
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          <p class="text-center">7 Consultas programadas con el Especialista</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="card" id="pediatria">
        <ion-badge color="#ffff" mode="ios" id="badegePediatria">
          <p>{{ego2Count}}</p> 
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          <p class="text-center">3 consultas de Nutrición</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-title id="lab">Laboratorios Incluidos</ion-title>

  <ion-slides scrollbar="md" [options]="slidesOptions" class="slide" id="laboratorios">
    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios" id="badgeMG">
          <p>{{lab1Count}}</p>
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          1 Biometría Hemática Completa
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios" id="badgeMG">
          <p>{{lab2Count}}</p>
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          1 QS 6 (Glucosa, Urea, Creatinina, Ácido Úrico, Colesterol y Triglicéridos)
        </ion-card-content>
      </ion-card>
    </ion-slide>  
    
    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios" id="badgeMG">
          <p>{{lab3Count}}</p>
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          3 Exámenes Generales de Orina
        </ion-card-content>
      </ion-card>
    </ion-slide>
    
    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios" id="badgeMG">
          <p>{{lab4Count}}</p>
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          1 V.D.R.L.
        </ion-card-content>
      </ion-card>
    </ion-slide>
    
    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios" id="badgeMG">
          <p>{{lab5Count}}</p>
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          1 V.I.H.
        </ion-card-content>
      </ion-card>
    </ion-slide>
      
    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios" id="badgeMG">
          <p>{{lab6Count}}</p>
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          2 Grupos Sanguíneos (Ambos padres)
        </ion-card-content>
      </ion-card>
    </ion-slide>
    
    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios" id="badgeMG">
          <p>{{lab7Count}}</p>
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          1 Tiempos de Coagulación
        </ion-card-content>
      </ion-card>
    </ion-slide>
     
    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios" id="badgeMG">
          <p>{{lab8Count}}</p>
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          1 Curva de tolerancia a la glucosa
        </ion-card-content>
      </ion-card>
    </ion-slide>
      
    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios" id="badgeMG">
          <p>{{lab9Count}}</p>
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          1 Pruebas de funcionamiento hepático
        </ion-card-content>
      </ion-card>
    </ion-slide>
    
    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios" id="badgeMG">
          <p>{{lab10Count}}</p>
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          1 Depuración de proteínas en orina de 24 horas
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios" id="badgeMG">
          <p>{{lab11Count}}</p>
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          1 Triple
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios" id="badgeMG">
          <p>{{lab12Count}}</p>
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          1 Perfil tiroideo
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios" id="badgeMG">
          <p>{{lab13Count}}</p>
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          1 Urocultivo
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios" id="badgeMG">
          <p>{{lab14Count}}</p>
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          1 Exudado vaginal
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-title id="ultra">Ultrasonidos Incluidos</ion-title>

  <ion-slides scrollbar="md" [options]="slidesOptions" class="slide" id="ultrasonidos">
    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios">
          <p>{{ult1Count}}</p> 
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          <p class="text-center">1 higado y Via Biliar</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios" id="badegePediatria">
          <p>{{ult2Count}}</p> 
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          <p class="text-center">4 Obstétricos</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios" id="badegePediatria">
          <p>{{ult3Count}}</p> 
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          <p class="text-center">1 Genetico (11-13.6 SDG)</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios" id="badegePediatria">
          <p>{{ult4Count}}</p> 
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          <p class="text-center">1 Estructural (  18- 24 SDG)</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios" id="badegePediatria">
          <p>{{ult5Count}}</p> 
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          <p class="text-center">1 Perfil biofisico (Ultimo trimestre)</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
