ion-searchbar{
    --border-radius: 35px;
    padding-left: 6%;
    padding-right: 6%;
    --box-shadow: 4px 4px 6px 1px #999;
    --placeholder-font-style:normal;
    --placeholder-font-weight:bold;
}

ion-label{
    padding-left: 6%;
    font-style: normal;
    font-weight: bold;
}

ion-content{
    --padding-top:0%;
}

.toolbar{
    ion-badge{
        ion-icon{
            font-size: 30px; //Preferred size here
            padding: 5px;
            right: 150px;
            --color: var(--ion-color-carrito-contrast);
        }
    }
    ion-title{
        font-size: 1.3rem;
        font-style: normal;
        font-weight: bold;
        color: var(--ion-color-titulos);
    }
    
    .icono{
        border-radius: 50%;
        margin-right: 10px;
    }
    ion-icon{
        font-size: 30px; 
        right: 150px;
    }
    
    .numero{
        border-radius: 47%;
        margin-top: 6%;
        margin-right: 5px;
        margin-left: -19px;
        --color:var(--ion-color-carrito-contrast);
        --background:var(--ion-color-carrito);
    }
}

ion-card .list-md{
    background: var(--ion-color-card);
}
