<!-- <app-header [titulo]="nombre || ''" [productos]="productos"></app-header> -->
<!-- <ion-label>BUSCAR</ion-label> -->

<ion-toolbar class="toolbar">
  <ion-icon slot="start"></ion-icon>
  <ion-title class="ion-text-capitalize" class="ion-text-center">
    {{ nombre }}
  </ion-title>
  <ion-badge slot="end" class="icono" routerLink="/carrito">
    <ion-icon name="cart"></ion-icon>
  </ion-badge>
  <ion-badge slot="end" class="numero">{{car.carrito.items.length}}</ion-badge>
  
</ion-toolbar>

<!-- <ion-searchbar placeholder="Buscar"></ion-searchbar> -->
<ion-content class="ion-padding">
  <ion-card>
    <ion-list>
      <ion-item *ngFor="let servicios of servicio" (click)="onClick(servicios.url,paciente.usuario._id)" class="animate__animated animate__fadeInDown" color="card">
        <ion-icon slot="start" [src]="servicios.img" class="blackbg"></ion-icon>
        <ion-label color="texto">{{servicios.nombre}}</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline" color="texto"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>