<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="salirModal()">
        <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>

    <ion-title class="ion-text-capitalize" class="ion-text-center" id="title">
      Mi paquete
    </ion-title>

    <ion-buttons slot="end">
      <ion-avatar class="ion-padding">
        <!-- <ion-img src="/assets/persona.jpeg"></ion-img> -->
        <ion-img [src]="paquete.icon"></ion-img>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title id="citas">Citas Incluidas</ion-title>

  <ion-slides scrollbar="md" [options]="slidesOptions" class="slide">
    <ion-slide>
      <ion-card class="card" id="gineco">
        <ion-badge id="badegeGineco" color="#ffff" mode="ios">
          <p>{{egoCount}}</p> 
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          <p class="text-center">Consulta de medicina general sin costo durante un año de Lunes a Domingo las 24 Horas</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>  
</ion-content>
