<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="salirModal()">
        <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>

    <ion-title class="ion-text-capitalize" class="ion-text-center" id="title">
      Mi paquete
    </ion-title>

    <ion-buttons slot="end">
      <ion-avatar class="ion-padding">
        <!-- <ion-img src="/assets/persona.jpeg"></ion-img> -->
        <ion-img [src]="paquete.icon"></ion-img>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title id="citas">Citas Incluidas</ion-title>

  <ion-slides scrollbar="md" [options]="slidesOptions" class="slide">
    <ion-slide>
      <ion-card class="card" id="gineco">
        <ion-badge id="badegeGineco" color="#ffff" mode="ios">
          <p>{{egoCount}}</p> 
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          <p class="text-center">8 Consultas programadas con Especialista MEDICINA INTERNA</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="card" id="pediatria">
        <ion-badge color="#ffff" mode="ios" id="badegePediatria">
          <p>{{ego2Count}}</p> 
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          <p class="text-center">Cita abierta a urgencias desde la contratación del servicio por un año con Medicina General</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-title id="lab">Laboratorios Incluidos</ion-title>

  <ion-slides scrollbar="md" [options]="slidesOptions" class="slide" id="laboratorios">
    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios" id="badgeMG">
          <p>{{lab1Count}}</p>
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          1 Biometría Hemática Completa
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios" id="badgeMG">
          <p>{{lab2Count}}</p>
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          1 QS 6 (Glucosa, Urea, Creatinina, Ácido Úrico, Colesterol y Triglicéridos)
        </ion-card-content>
      </ion-card>
    </ion-slide>  
    
    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios" id="badgeMG">
          <p>{{lab3Count}}</p>
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          1 Pruebas de Funcionamiento Hepático
        </ion-card-content>
      </ion-card>
    </ion-slide>
    
    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios" id="badgeMG">
          <p>{{lab4Count}}</p>
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          1 Exámenes Generales de Orina
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-title id="ultra">Rayos X Incluidos</ion-title>

  <ion-slides scrollbar="md" [options]="slidesOptions" class="slide" id="ultrasonidos">
    <ion-slide>
      <ion-card class="card">
        <ion-badge color="#ffff" mode="ios">
          <p>{{ray1Count}}</p> 
        </ion-badge>
        <ion-card-content class="ion-text-left" class="ion-no-border">
          <p class="text-center">1 Tele de Tórax</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>

