ion-back-button{
    color: var(--ion-color-botones);
}

ion-title{
    color: var(--ion-color-titulos);
    font-weight: bold;
}

ion-card{
    display: flex;
    flex-direction: column;
    #headerSGSH{
        margin-top: 10px;
        margin-right: 20px;
    }
    #footer{
        margin-left: 20px;
        position: absolute;
        bottom: 12px;
    }
    ion-card-header{
        ion-row{
            ion-col{
                /* ion-img{
                    margin-top: -55px;
                    padding: 0px;
                    height: 180px;
                    width: 180px;
                } */
                p{
                    text-align: center;
                    margin-top: 50px;
                    color: var(--ion-color-titulos);
                    font-weight: bold;
                }
            }
        }
        ion-label{
            p{
                /* margin-top: -40px; */
                text-align: center;
                color: var(--ion-color-titulos);
                font-weight: bold;
                font-size: 1.3rem;
            }
        }
        ion-card-subtitle{
            text-align: right;
            color: var(--ion-color-titulos);
            font-weight: bold;
            font-size: 1rem;
        }
    }

    ion-card-content{
        overflow-y: scroll;
        ion-card-header{
            ion-card-subtitle{
                text-align: left;
                font-weight: bold;
            }
        }
        ion-row{
            ion-col{
                p{
                    text-align: justify;
                }
            }
        }
        p{
            color: var(--ion-color-titulos);
            text-align: justify;
            margin-left: 10px; 
        }
    }
    height: 650px;
}

.doctor{
    color: var(--ion-color-titulos);
    font-weight: bold;
}