<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/">
      </ion-back-button>
    </ion-buttons>


    <!-- <ion-title class="ion-text-capitalize" class="ion-text-center">
      RECETA MEDICA
    </ion-title> -->
  </ion-toolbar>
</ion-header> 

<ion-content>
  <ion-card>
    <ion-img src="assets/icons/logo/header_SGSH.png" id="headerSGSH"></ion-img>
    <ion-card-header>
      <ion-title class="ion-text-capitalize" class="ion-text-center">
        RECETA MEDICA
      </ion-title>
      <ion-card-subtitle>{{receta.fechaReceta}}</ion-card-subtitle>
      <!-- <ion-row>
        <ion-col size="8">
          <ion-img src="assets/icons/logo/logo1.png"></ion-img>
        </ion-col>
        <ion-col size="4">
          <p>{{receta.fechaReceta}}</p>
        </ion-col>
      </ion-row> -->

    </ion-card-header>
    <ion-card-content>
      <ion-card-header>
        <ion-card-subtitle>MEDICAMENTOS</ion-card-subtitle>
      </ion-card-header>
      <ion-row *ngFor="let item of receta.medicamentos">
        <p>{{item.medicamento}} {{item.indicaciones}}</p>
      </ion-row>
      <ion-card-header>
        <ion-card-subtitle>ESTUDIOS SOLICITADOS</ion-card-subtitle>
      </ion-card-header>
      <ion-row *ngFor="let item of receta.estudios">
        <p>{{item.ESTUDIO}}</p>
      </ion-row>
      <ion-card-header>
        <ion-card-subtitle>DIAGNOSTICO</ion-card-subtitle>
      </ion-card-header>
      <p>
        {{receta.otrasIndicaciones| uppercase}}
      </p>
    </ion-card-content>
    <ion-label style="margin-top: 120px;">
      <p style="text-align: center;" class="doctor">Doc. {{receta.medicoQueAtendio}}</p>
    </ion-label>
    <ion-card-subtitle style="text-align: center;">Cedula: {{receta.cedula}}</ion-card-subtitle>
    <ion-img src="assets/icons/logo/footer.png" id="footer"></ion-img>
  </ion-card>
</ion-content>
