/* ion-content {
    --background: url('/assets/Background_lab.png')no-repeat center center / cover;
} */
/* ion-card{
    background: transparent;
} */
.icono2 {
    font-size: 25px; //Preferred size here
    right: 150px;
    padding: 0%;
    margin-left: 90%;
    margin-bottom: 0%;
}

ion-img{
    //margin: 0%;
    margin-top: -30%;
    height: 90px;
    width: 90px;
}

.boton{
    height: 15px !important;
    font-size: 10px;
    --background: var(--ion-color-texto) !important;
    --color: var(--ion-color-texto-contrast) !important;
}

p{
    padding: 0%;
}

.icono{
    border-radius: 50%;
    /* margin-left: -10%;
    margin-top: -50%; */
    margin-right: 10px;
}
.icono ion-icon{
    font-size: 30px; //Preferred size here
    padding: 5px;
    right: 150px;
}

/* .numero{
    border-radius: 47%;
    margin-top: 6%;
    margin-right: 5px;
    margin-left: -19px;
    --color:var(--ion-color-carrito-contrast);
    --background:var(--ion-color-carrito);
} */

.my-custom-class {
    --height:25rem;
  }

ion-card-header{
    padding: 0%;
}

ion-footer{
    padding: 0%;
}

.alignme {
    float: right !important;
    height: 15px;
    width: 15px;
}

.ske{
 border-radius: 30px;
}

.skeleton{
    margin-left: 10px;
}

ion-searchbar{
    --border-radius: 35px;
    padding-left: 6%;
    padding-right: 6%;
    --placeholder-font-style:normal;
    --placeholder-font-weight:bold;
    background: var(--ion-color-light-shade);
}

ion-button{
    //--color: var(--ion-color-titulos);
    --background: var(--ion-color-botones);
}