<app-header [titulo]="nombre"></app-header>
<ion-searchbar placeholder="Buscar" (keyup)="busquedaGeneral()" [(ngModel)]="buscar.estudio"></ion-searchbar>
<ion-content class="ion-padding">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" 
              *ngFor="let item of serviceSi | slice: 0:slice" class="animate__animated animate__zoomIn animate__faster">
        <ion-card class="ion-padding">
          <ion-icon name="logo-usd" color="primary" class="icono2" (click)="presentPopover($event,item,paciente.usuario.membresiaActiva)"></ion-icon>
          <p align="center"><ion-img [src]="img"></ion-img></p>
          <ion-card-header>
            <ion-card-subtitle class="ion-text-center">{{item.ESTUDIO}}</ion-card-subtitle>
          </ion-card-header>
  
          <ion-button expand="block" (click)="onClick($event, item)" class="boton">
            Agregar
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- Skeleton screen --> 
  <ion-grid fixed *ngIf="serviceSi==''">
    <ion-row>
      <ion-col size="6" *ngFor="let item of [1,1,1,1,1,1,1,1,1,1]" class="animate__animated animate__fadeIn animate__faster">
        <ion-card class="ion-padding">
          <ion-avatar class="alignme">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <p align="center"> <ion-skeleton-text animated style="width: 90px; height: 90px;"></ion-skeleton-text></p>
          <ion-card-header>
            <ion-card-subtitle class="skeleton">
              <ion-label>
                <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
              </ion-label>
            </ion-card-subtitle>
          </ion-card-header>
          <p align="center" class="ske">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll threshold="100px" 
                      (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="lines-small"
      loadingText="Cargando mas estudios...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="block">
      Nueva Cita
    </ion-button>
  </ion-toolbar>
</ion-footer> 
