ion-item-divider{
    border: 0;
    margin-left: 32%;
    margin-top: 0%;
    margin-bottom: 10px;
    max-width: 50px;
    min-height: 4px !important;
    background-color: #999;
    box-shadow: 4px 4px 6px 1px #999;
    border-radius: 20px !important;
}

ion-button{
    --border-radius: 50rem;
}

ion-title{
    font-size: 1.3rem;
    font-style: normal;
    font-weight: bold;
}

/*.icono{
    border-radius: 50%;
    margin-left: -10%;
    margin-top: -50%; 
    margin-right: 10px;
}*/
ion-icon{
    font-size: 35px; //Preferred size here
    //padding: 5px;
    //right: 150px;
}

.numero{
    border-radius: 47%;
    margin-top: 6%;
    margin-right: 5px;
    margin-left: -19px;
    --color:#ffffff;
    --background:#00BBF1;
}
ion-tab-button {
    --color-selected: #273C74;
   }
.tabbar a[aria-selected=true] {
    border: none;
    box-shadow: 0px 2px 0px 0px #488aff inset;    
}