<ion-toolbar>
  <ion-icon slot="start" name="menu"></ion-icon>
  <ion-title class="ion-text-capitalize" class="ion-text-center" color="primary">
   BIENVENIDOS
  </ion-title>
  <ion-fab-button slot="end" class="icono" routerLink="/carrito">
    <ion-icon name="cart"></ion-icon>
  </ion-fab-button>
</ion-toolbar>


<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let servicios of servicio" (click)="onClick(servicios.url)" class="animate__animated animate__zoomIn animate__faster">
        <ion-card class="ion-padding">
          <ion-item-divider></ion-item-divider>
          <ion-img [src]="servicios.img"></ion-img>
          <br>
          <ion-card-subtitle class="ion-text-center" style="font-size: 11px;">{{servicios.nombre}}</ion-card-subtitle>
        </ion-card>

        <!--  ion-card-header>
          <ion-card-subtitle class="ion-text-center">{{servicios.nombre}}</ion-card-subtitle>
        </ion-card-header-->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
