<!--ion-toolbar>
  <ion-icon name="menu"></ion-icon>
  <ion-icon slot="start"></ion-icon>
  <ion-title class="ion-text-capitalize" class="ion-text-center" color="primary">
   BIENVENIDOS
  </ion-title>
  <ion-fab-button slot="end" class="icono" routerLink="/carrito">
    <ion-icon name="cart"></ion-icon>
  </ion-fab-button>
</ion-toolbar>

<ion-content class="ion-padding">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" *ngFor="let servicios of servicio" (click)="onClick(servicios.url)" class="animate__animated animate__zoomIn animate__faster">
        <ion-card class="ion-padding">
          <ion-item-divider></ion-item-divider>
          <ion-img [src]="servicios.img"></ion-img>
        </ion-card>

        <ion-card-header>
          <ion-card-subtitle class="ion-text-center">{{servicios.nombre}}</ion-card-subtitle>
        </ion-card-header>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content-->
    <ion-tabs>
      <ion-tab-bar slot="fixed">
        <ion-tab-button tab="buscar">
          <ion-icon name="search-circle"></ion-icon>
          <ion-label>Buscar</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="servicios" selected>
          <ion-icon name="layers"></ion-icon>
          <ion-label>Servicios</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="login">
          <ion-icon name="log-in"></ion-icon>
          <ion-label>Ingresar</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
