<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/">
      </ion-back-button>
    </ion-buttons>


    <ion-title class="ion-text-capitalize" class="ion-text-center">
      Mis Recetas medicas
    </ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>
  <ion-card>
    <ion-list>
      <ion-item *ngFor="let item of recetas" class="animate__animated animate__fadeInDown" color="card" (click)="serv(item)" routerLink="info-recetas">
        <ion-label color="texto">{{item.fechaReceta}} RECETA MEDICA</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline" color="texto"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
