ion-back-button{
    color: var(--ion-color-botones);
}

ion-title{
    color: var(--ion-color-titulos);
    font-weight: bold;
}

ion-card{
    ion-list{
        ion-item{
            ion-label{
                font-style: normal;
                font-size: 1rem;
            }
        }
    }
    height: 650px;
}