<ion-content>
  <ion-slides #slides pager="true" (ionSlideDidChange)="ionSlideChange(slides)">
    <ion-slide *ngFor="let slide of slid" class="ion-padding">
        <img [src]="slide.img" class="slide-image"/>

        <ion-card-content>
          {{ slide.desc }}
        </ion-card-content>

    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="block" fill="solid" class="ion-margin" (click)="next()" color="primary">{{buttonName}}</ion-button>
  </ion-toolbar>
</ion-footer>
