#title, .servicios{
    font-size: 20px;
    font-style: italic;
}

/* ion-badge{
    border-radius: 50%; 
    padding: 20px;
} */

#agregar{
    padding: 0% !important;
    height: 102px;
    width: 102px;
    #mas{
        padding: 14px;
        height: 70px;
        width: 70px;
        color: var(--ion-color-primary-contrast);
    }
}

#paquete{
    font-size: 30px;
}

ion-icon{
    height: 40px;
    width: 40px;
    color: var(--ion-color-botones);
}

span{
    color: red;
    font-size: 1rem;
    font-weight: bold;
}

ion-card{
    ion-card-header{
        ion-card-subtitle{
            text-align: center;
            color: var(--ion-color-titulos);
            font-weight: bold;
        }
    }
    ion-card-content{
        ion-row{
            margin-bottom: 30px;
        }
        .titulos{
            text-align: center;
            color: var(--ion-color-titulos);
            font-weight: bold;
        }
        .resultados{
            text-align: center;
            #obtenido{
                color: black;
                font-weight: bold;
            }
            /* #referencia{
                color: black;
                font-weight: bold;
            } */
        }
    }
    height: 600px;
}

ion-card .list-md{
    background: var(--ion-color-card);
}

ion-back-button{
    color: var(--ion-color-botones);
}

ion-title{
    font-weight: bold;
    color: var(--ion-color-titulos);
}