<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/">
      </ion-back-button>
    </ion-buttons>


    <ion-title class="ion-text-capitalize" class="ion-text-center">
      {{servicio| uppercase}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list *ngIf="servicio == 'laboratorio'">
      <ion-item *ngFor="let servicios of estudios" class="animate__animated animate__fadeInDown" color="card" (click)="serv(servicios)" routerLink="regresos-serv/{{servicio}}">
        <ion-label color="texto"><ion-badge color="primary" mode="ios">Nuevo</ion-badge> {{servicios.idPedido.fecha}} {{servicios.idEstudio.ESTUDIO}}</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline" color="texto"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="servicio == 'ultrasonido'">
      <ion-item *ngFor="let servicios of estudios" class="animate__animated animate__fadeInDown" color="card" (click)="serv(servicios)" routerLink="regresos-serv/{{servicio}}">
        <ion-label color="texto"><ion-badge color="primary" mode="ios">Nuevo</ion-badge> {{servicios.idEstudio.ESTUDIO}}</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline" color="texto"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
