<ion-toolbar>
  <ion-icon name="menu"></ion-icon>
  <ion-icon slot="start"></ion-icon>
  <ion-title class="ion-text-capitalize" class="ion-text-center" color="primary">
   BUSCADOR
  </ion-title>
  <ion-fab-button slot="end" class="icono" routerLink="/carrito">
    <ion-icon name="cart"></ion-icon>
  </ion-fab-button>
</ion-toolbar>

<ion-content>
  <ion-searchbar placeholder="Buscar"></ion-searchbar>
</ion-content>  