<ion-content class="ion-padding">
  <!-- <ion-row id="lineas">
    <ion-col size="12">
      <ion-img src="assets/icons/logo/lineas_1.png"></ion-img>
    </ion-col>
  </ion-row> -->
  <ion-img src="assets/icons/logo/logo1.png"></ion-img>
  <ion-text color="titulo">
    <h1 class="ion-text-center">INICIAR SESION</h1>
  </ion-text>
  <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">
    <ion-list-header>
      <ion-label>Correo</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-input type="email" 
                 name="email"
                 [(ngModel)]="usuario.correo"
                 pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                 required>
      </ion-input>
    </ion-item>

    <ion-list-header>
      <ion-label>Contraseña</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-input type="password" 
                 name="password"
                 [(ngModel)]="usuario.password"
                 required>
      </ion-input>
    </ion-item>

    <ion-button type="submit" [disabled]="formulario.invalid" expand="block" class="ion-padding" color="primary">
      Ingresar
    </ion-button>
  </form>

  <ion-label color="danger" routerLink="/recover-pass" class="alignme">¿Olvidaste tu contraseña?</ion-label>
  

  <ion-list-header>
    <ion-label class="ion-text-right">¿No tienes cuenta con nosotros?<ion-label class="ion-text-right" color="primary" routerLink="/sign-in">Registrate</ion-label></ion-label>
  </ion-list-header>

</ion-content>
