ion-img{
    margin-top: 20px;
}

#lineas{
    height: 150px;
    width: 150px;
    ion-col{
        ion-img{
            float: right;
        }
    }
}

ion-label{
    font-weight:bold;
}

ion-item{
    border-radius: 3rem;
    box-shadow: 4px 4px 15px 0px #999;
}

ion-button{
    height:4.5rem;
}

h1{
    font-weight:bold; 
}

.alignme {
    float:right !important;
    margin-top: 15px;
}