<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="carrito.carrito.items == ''">
    <ion-row class="carrito">
      <ion-col size="12">
        <ion-card>
          <ion-icon src="assets/icons/carrito/carrito.svg" color="medium" class="ico"></ion-icon>
          <ion-label class="texto">Tu carrito está vacío</ion-label>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <!-- <ion-list class="ion-padding"> -->
    <ion-grid *ngIf="carrito.carrito.items != ''">
      <ion-row class="carrito">
        <ion-col size="12">
          <ion-card>
            <ion-label id="titulo">CARRITO</ion-label>
            <ion-card-content>
              <ion-list color="card">
                <ion-item-sliding *ngFor="let item of carrito.carrito.items; let i=index">
                  <ion-item color="card">
                    <ion-label>
                      <h3>{{item.nombreEstudio}}</h3> 
                    </ion-label>
                    <ion-badge mode="ios" *ngIf="paciente.usuario.membresiaActiva ==false">{{item.precioSin | currency}} MX</ion-badge>
                    <ion-badge mode="ios" *ngIf="paciente.usuario.membresiaActiva ==true">{{item.precioCon | currency}} MX</ion-badge>
                    <!-- <ion-icon slot="start" src="assets/icons/serviciosIconos/chemistry.svg"></ion-icon> -->
                    <!-- <ion-label slot="end" class="ion-text-end" id="precio">${{item.precioSin }}</ion-label> -->
                  </ion-item>   
                  <ion-item-options side="end">
                    <ion-item-option color="danger">
                        <ion-icon slot="icon-only" name="trash-outline" (click)="eliminar(i)"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
                </ion-item-sliding>
              </ion-list>
            </ion-card-content>
            <ion-footer *ngIf="carrito.carrito.items != ''" class="ion-no-border">
              <ion-toolbar>
                <ion-grid fixed *ngIf="paciente.usuario.membresiaActiva ==false" class="publico">
                  <ion-row>
                    <ion-col size="6" id="total">
                      <ion-label color="primary">Total publico</ion-label>
                    </ion-col>
                    <ion-col size="6" class="alignme">
                      <ion-badge mode="ios">{{carrito.carrito.totalSin | currency}} MX</ion-badge>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <!-- <ion-grid fixed *ngIf="paciente.usuario.membresiaActiva == true">
                  <ion-row>
                    <ion-col size="6">
                      <ion-label class="tachado">Total publico</ion-label>
                    </ion-col>
                    <ion-col size="6" class="alignme">
                      <ion-label class="tachado">{{carrito.carrito.totalSin | currency}} MX</ion-label>
                    </ion-col>
                  </ion-row>
                </ion-grid> -->
                <!-- <ion-grid fixed *ngIf="paciente.usuario.membresiaActiva == false">
                  <ion-row>
                    <ion-col size="6">
                      <ion-label color="primary" class="tachado">Total membresia</ion-label>
                    </ion-col>
                    <ion-col size="6" class="alignme">
                      <ion-label color="primary" class="tachado">{{carrito.carrito.totalCon | currency}} MX</ion-label>
                    </ion-col>
                  </ion-row>
                </ion-grid> -->
                <ion-grid fixed *ngIf="paciente.usuario.membresiaActiva == true" class="membresia">
                  <ion-row>
                    <ion-col size="6" id="total">
                      <ion-label color="primary">Total membresia</ion-label>
                    </ion-col>
                    <ion-col size="6" class="alignme">
                      <ion-badge mode="ios" color="primary">{{carrito.carrito.totalCon | currency}} MX</ion-badge>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <ion-grid fixed *ngIf="paciente.usuario.membresiaActiva == false" class="publico">
                  <ion-row>
                    <ion-col size="12" id="ahorro">
                      <ion-label>Con tu membresía te estarias ahorrando</ion-label>
                    </ion-col>
                    <!-- <ion-col size="6" class="alignme">
                      <ion-badge color="tertiary" mode="ios">{{carrito.carrito.totalSin - carrito.carrito.totalCon | currency}}MX</ion-badge>
                    </ion-col> -->
                  </ion-row>
                </ion-grid>
                <ion-grid fixed *ngIf="paciente.usuario.membresiaActiva == true" class="membresia">
                  <ion-row>
                    <ion-col size="12" id="ahorro">
                      <ion-label>Te ahorraste {{carrito.carrito.totalSin - carrito.carrito.totalCon | currency}}MX con tu membresia</ion-label>
                    </ion-col>
                    <!-- <ion-col size="6" class="alignme">
                      <ion-badge color="tertiary" mode="ios">{{carrito.carrito.totalSin - carrito.carrito.totalCon | currency}}MX</ion-badge>
                    </ion-col> -->
                  </ion-row>
                </ion-grid>
                <!-- <ion-item color="primary" id="pagos">
                  <ion-label>Metodo de Pago</ion-label>
                  <ion-select value="metodos" interface="action-sheet" #metodos (ionChange)="valor(metodos.value)">
                    <ion-select-option value="Tarjeta de Credito">Tarjeta de Credito</ion-select-option>
                    <ion-select-option value="Tarjeta de Debito">Tarjeta de Debito</ion-select-option>
                    <ion-select-option value="Efectivo">Efectivo</ion-select-option>
                    <ion-select-option value="Transferencia">Transferencia Bancaria</ion-select-option>
                    <ion-select-option value="Pago en Sucursal">Pago en Sucursal</ion-select-option>
                  </ion-select>
                </ion-item> -->
                <div class="center">
                  <ion-button (click)="enviarPedido()" color="texto">
                    Comprar
                  </ion-button>
                </div>
              </ion-toolbar>
            </ion-footer>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  <!-- </ion-list> -->
</ion-content>
<!-- <ion-footer *ngIf="carrito.carrito.items != ''">
  <ion-toolbar>
    <ion-grid fixed *ngIf="paciente.usuario.membresiaActiva ==false">
      <ion-row>
        <ion-col size="6">
          <ion-label>Total publico</ion-label>
        </ion-col>
        <ion-col size="6" class="alignme">
          <ion-badge mode="ios">{{carrito.carrito.totalSin | currency}} MX</ion-badge>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid fixed *ngIf="paciente.usuario.membresiaActiva == true">
      <ion-row>
        <ion-col size="6">
          <ion-label class="tachado">Total publico</ion-label>
        </ion-col>
        <ion-col size="6" class="alignme">
          <ion-label class="tachado">{{carrito.carrito.totalSin | currency}} MX</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid fixed *ngIf="paciente.usuario.membresiaActiva == false">
      <ion-row>
        <ion-col size="6">
          <ion-label color="primary" class="tachado">Total membresia</ion-label>
        </ion-col>
        <ion-col size="6" class="alignme">
          <ion-label color="primary" class="tachado">{{carrito.carrito.totalCon | currency}} MX</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid fixed *ngIf="paciente.usuario.membresiaActiva == true">
      <ion-row>
        <ion-col size="6">
          <ion-label color="primary">Total membresia</ion-label>
        </ion-col>
        <ion-col size="6" class="alignme">
          <ion-badge mode="ios" color="primary">{{carrito.carrito.totalCon | currency}} MX</ion-badge>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid fixed *ngIf="paciente.usuario.membresiaActiva == false">
      <ion-row>
        <ion-col size="6">
          <ion-label color="tertiary">Con tu membresía te estarias ahorrando</ion-label>
        </ion-col>
        <ion-col size="6" class="alignme">
          <ion-badge color="tertiary" mode="ios">{{carrito.carrito.totalSin - carrito.carrito.totalCon | currency}}MX</ion-badge>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid fixed *ngIf="paciente.usuario.membresiaActiva == true">
      <ion-row>
        <ion-col size="6">
          <ion-label color="tertiary">Con tu membresía te estas ahorrando</ion-label>
        </ion-col>
        <ion-col size="6" class="alignme">
          <ion-badge color="tertiary" mode="ios">{{carrito.carrito.totalSin - carrito.carrito.totalCon | currency}}MX</ion-badge>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item color="primary" id="pagos">
      <ion-label>Metodo de Pago</ion-label>
      <ion-select value="metodos" interface="action-sheet" #metodos (ionChange)="valor(metodos.value)">
        <ion-select-option value="Tarjeta de Credito">Tarjeta de Credito</ion-select-option>
        <ion-select-option value="Tarjeta de Debito">Tarjeta de Debito</ion-select-option>
        <ion-select-option value="Efectivo">Efectivo</ion-select-option>
        <ion-select-option value="Transferencia">Transferencia Bancaria</ion-select-option>
        <ion-select-option value="Pago en Sucursal">Pago en Sucursal</ion-select-option>
      </ion-select>
    </ion-item>
    <div class="center">
      <ion-button (click)="enviarPedido()">
        Ordenar
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer> -->