.alignme {
    text-align: right;
}
.center{
    text-align: center;
    ion-button{
        font-weight: bold;
    }
}
ion-button{
    --color: var(--ion-color-card);
}
.tachado {
    text-decoration: line-through;
}

.serv{
   font-size: .7rem; 
   font-weight: bold;
}

.carrito {
    text-align: center;
    margin: 0px;
    ion-col{
        ion-card{
            height: 580px;
            /* height: 642px; */
            width: 370px;
            .ico{
                font-size: 350px;
            }
            .texto{
                display: flex;
                justify-content: center;
                font-weight: bold;
                font-size: 2rem;
                margin-top: 10px;
                color: var(--ion-color-texto);
            }
        }
    }
}

ion-badge{
    font-size: 15px;
    background: var(--ion-color-texto);
    color: var(--ion-color-texto-contrast);
}

ion-card{
    //overflow: scroll;
    height: 300px;
    width: 380px;
    #titulo{
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        font-weight: bolder;
        background: var(--ion-color-card);
        color: var(--ion-color-texto);
        padding: 10px;
    }
    ion-card-content{
        padding: 1px;
        height: 60%;
        position: relative;
        overflow: hidden;
        overflow-y:unset;
        ::-webkit-scrollbar {
          display: none;
        }
        ion-list{
            padding: 0px;
            ion-item-sliding{
                background: white;
                height: 50px;
            }
            ion-item{
                height: 50px;
                ion-label{
                    color: var(--ion-color-texto); 
                }
            }
        }
    }
    ion-footer{
        margin-top: 20px;
        ion-toolbar{
            --background: var(--ion-color-card);
            .membresia, .publico{
                #total{
                    text-align: left;
                    font-weight: bolder;
                    font-size: 1rem;
                }
                #ahorro{
                    text-align: center;
                    font-size: 1rem;
                    background: #84cd92;
                    ion-label{
                        color: black;
                    }
                }
            }
            /* .publico{
                #total{
                    text-align: left;
                    font-weight: bolder;
                    font-size: 1rem;
                }
            } */
        }
        
    }
}

#pagos{
    --background: var(--ion-color-botones);
    ion-label{
        color: var(--ion-color-botones-contrast);
    }
    ion-select{
        color: var(--ion-color-botones-contrast);
    }
}

ion-back-button{
    color: var(--ion-color-botones);
}

ion-title{
    color: var(--ion-color-titulo);
}


