<ion-content>
  <ion-img src="assets/icons/logo/logo1.png" class="ion-padding"></ion-img>
  <ion-text color="dark">
    <h1 class="ion-text-center">TICKET</h1>
    <ion-item-divider></ion-item-divider>
  </ion-text>
  <ion-list class="ion-padding">
    <ion-item *ngFor="let item of carrito.carrito.items">
      <ion-label *ngIf="paciente.usuario.membresiaActiva ==false">{{item.nombreEstudio}}</ion-label><ion-label class="alignme" *ngIf="paciente.usuario.membresiaActiva == false">{{item.precioSin | currency}} MX</ion-label>
      <ion-label *ngIf="paciente.usuario.membresiaActiva ==true">{{item.nombreEstudio}}</ion-label><ion-label class="alignme" *ngIf="paciente.usuario.membresiaActiva ==true">{{item.precioCon | currency}} MX</ion-label>
    </ion-item>
  </ion-list>
  
  <ion-grid fixed class="total">
    <ion-row>
      <ion-item-divider id="top"></ion-item-divider>
      <ion-col size="6">
        <ion-label>Total</ion-label>
      </ion-col>
      <ion-col size="6" class="alignme">
        <ion-badge color="primary" mode="ios" *ngIf="paciente.usuario.membresiaActiva ==false">{{carrito.carrito.totalSin | currency}} MX</ion-badge>
        <ion-badge color="primary" mode="ios" *ngIf="paciente.usuario.membresiaActiva ==true">{{carrito.carrito.totalCon | currency}} MX</ion-badge>
      </ion-col>
      <ion-item-divider id="bottom"></ion-item-divider>
      <ion-label class="ion-padding">{{totalLetra}}</ion-label>
    </ion-row>
  </ion-grid>
  
  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    
    <ion-fab-button>
      <ion-icon name="arrow-up-outline"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button color="light">
        <ion-icon name="share-social"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="download"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    
  </ion-fab> -->
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="salirModal()" expand="block" shape="round" color="primary">
      Cerrar Ticket
    </ion-button>
  </ion-toolbar>
</ion-footer>