ion-img{
    margin-top: 20px;
}
.alignme {
    text-align: right;
}
.center{
    text-align: center;
}
.tachado {
    text-decoration: line-through;
}
ion-text{
    ion-item-divider{
        border: 0;
        margin-left: 8%;
        margin-top: 0%;
        margin-bottom: 10px;
        max-width: 350px;
        min-height: 1px !important;
        background-color: #000000;
    }
}

.total{
    padding: 20px;
    #top{
        border: 0;
        margin-left: 3%;
        margin-top: 0%;
        margin-bottom: 10px;
        max-width: 350px;
        min-height: .8px !important;
        background-color: #000000;
    }
    #bottom{
        border: 0;
        margin-left: 3%;
        margin-top: 0%;
        max-width: 350px;
        min-height: 1px !important;
        background-color: #000000;
    }
    ion-label{
        font-size: 18px;
    }
    ion-badge{
        font-size: 18px;
    }
}