#title, .servicios{
    font-size: 20px;
    font-style: italic;
}
ion-title{
    font-size: 20px;
    font-weight: bold;
    color: var(--ion-color-titulos);
}

ion-back-button{
    color: var(--ion-color-botones);
}

ion-card{
    ion-card-header{
        ion-card-title{
            font-size: 1.2rem;
            font-weight: bold;
            color: var(--ion-color-titulos);
        }
    }
    ion-card-content{
        margin-top: 50px;
    }
    height: 600px;
}