<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/">
      </ion-back-button>
    </ion-buttons>

    <ion-title class="ion-text-capitalize" class="ion-text-center">
      GRAFICA {{grafica | uppercase}}
    </ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>
  <ion-card *ngIf="grafica == 'peso'">
    <ion-card-header>
      <ion-card-title>Último peso: {{peso}} KG</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-slides #slider loop="true" [options]="{ slidesPerView:1, autoplay: {delay: 1000} }" class="sliderLog">
        <ion-slide>
          <canvas style="overflow-y: scroll;" baseChart width="400" height="400" [datasets]="linePeso" [labels]="lineChartLabels " [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins"></canvas>   
        </ion-slide>
        <ion-slide *ngIf="genero == 'MASCULINO'&& edad <= 9">
          <canvas baseChart width="400" height="400" [datasets]="lineChartDataPeso" [labels]="lineChartLabels2" [options]="lineChartOptionsninos" [colors]="lineChartColors2" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins"></canvas>
        </ion-slide>
        <ion-slide *ngIf="genero == 'FEMENINO'&& edad <= 9">
          <canvas baseChart width="400" height="400" [datasets]="lineChartPesoNina" [labels]="lineChartLabelsnina" [options]="lineChartOptionsnina" [colors]="lineChartColorsNina" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins"></canvas>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="grafica == 'talla'">
    <ion-card-header>
      <ion-card-title>Última talla: {{talla}} M</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-slides #slider loop="true" [options]="{ slidesPerView:1, autoplay: {delay: 1000} }" class="sliderLog">
        <ion-slide>
          <canvas baseChart width="400" height="400" [datasets]="lineChartData" [plugins]="lineChartPlugins" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
        </ion-slide>
        <ion-slide *ngIf="genero == 'MASCULINO'&& edad <= 9">
          <canvas baseChart width="400" height="400" [datasets]="lineChartEstatura" [labels]="lineChartLabels2" [options]="lineChartOptionsninos" [colors]="lineChartColors2" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins"></canvas>
        </ion-slide>
        <ion-slide *ngIf="genero == 'FEMENINO'&& edad <= 9">
          <canvas baseChart width="400" height="400" [datasets]="lineChartTallaNina" [labels]="lineChartLabels2" [options]="lineChartOptionsninos" [colors]="lineChartColorsNina" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins"></canvas>
        </ion-slide>
      </ion-slides>
    </ion-card-content>     
  </ion-card>
  <ion-card *ngIf="grafica == 'imc'">
    <ion-card-header>
      <ion-card-title>Última IMC: {{imc}} Kg/M^2</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-slides #slider loop="true" [options]="{ slidesPerView:1, autoplay: {delay: 1000} }" class="sliderLog">
        <ion-slide>
          <canvas baseChart width="400" height="400" [datasets]="lineIMC" [plugins]="lineChartPlugins" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
        </ion-slide>
        <ion-slide *ngIf="genero == 'MASCULINO'&& edad <= 9">
          <canvas baseChart width="400" height="400" [datasets]="lineChartIMC" [labels]="lineChartLabels2" [options]="lineChartOptionsninos" [colors]="lineChartColors2" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins"></canvas>
        </ion-slide>
        <ion-slide *ngIf="genero == 'FEMENINO'&& edad <= 9">
          <canvas baseChart width="400" height="400" [datasets]="lineChartIMCNina" [labels]="lineChartLabelsnina" [options]="lineChartOptionsnina" [colors]="lineChartColorsNina" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins"></canvas>
        </ion-slide>
      </ion-slides>
    </ion-card-content>     
  </ion-card>
  <ion-card *ngIf="grafica == 'temp'">
    <ion-card-header>
      <ion-card-title>Última Temperatura: {{temp}} °C</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas baseChart width="400" height="400" [datasets]="lineTemp" [plugins]="lineChartPlugins" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
    </ion-card-content>     
  </ion-card>
  <ion-card *ngIf="grafica == 'pa'">
    <ion-card-header>
      <ion-card-title>Última Presión sistólica: {{sistolica}} mm Hg</ion-card-title>
      <ion-card-title>Última Presión diastólica: {{diastolica}} mm Hg</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas baseChart width="400" height="400" [datasets]="linePA" [labels]="lineChartLabels" [options]="lineChartOptionssistolica" [colors]="lineChartColorssistolica" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
    </ion-card-content>     
  </ion-card>
  <ion-card *ngIf="grafica == 'sao'">
    <ion-card-header>
      <ion-card-title>Última Saturación de Oxigeno: {{pao}} SaO2</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas baseChart width="400" height="400" [datasets]="lineSAO" [plugins]="lineChartPlugins" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
    </ion-card-content>     
  </ion-card>
  <ion-card *ngIf="grafica == 'glucosa'">
    <ion-card-header>
      <ion-card-title>Última Glucosa: {{glucosa}} mg/dL</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas baseChart width="400" height="400" [datasets]="lineGlucosa" [plugins]="lineChartPlugins" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
    </ion-card-content>     
  </ion-card>

</ion-content>
