<!-- <app-header [titulo]="nombre || ''" routerLink="/carrito"></app-header> -->

<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
    
  </ion-toolbar>
</ion-header>
 -->
<ion-content>
  <ion-card-subtitle class="ion-text-center" color="titulo" id="title">
    <ion-label>Selecciona un integrante familiar</ion-label>
  </ion-card-subtitle>

  <ion-slides [options]="slidesOptions" class="slide">
    <ion-slide *ngFor="let item of familiar.usuario">
      <ion-card routerLink="expediente/{{item._id}}" class="ion-padding" class="card" >
        <ion-item-divider></ion-item-divider>
        <ion-grid>
          <ion-row>
              <ion-col size="12">
                  <ion-icon name="person-circle" color="texto"></ion-icon>
              </ion-col>
         </ion-row>
        </ion-grid>
        <ion-card-header class="cardheder">
          <ion-card-subtitle color="texto" class="ion-text-center">
            <ion-label>{{item.nombrePaciente}} {{item.apellidoPaterno}}</ion-label>
          </ion-card-subtitle>
          <ion-card-title class="ion-text-center">
            <ion-label id="subtitulo">Yo</ion-label>
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide *ngFor="let item of paciente.familia.integrantes">
      <ion-card routerLink="expediente/{{item._id}}" class="ion-padding" class="card" >
        <ion-item-divider></ion-item-divider>
        <ion-grid>
          <ion-row>
              <ion-col size="12">
                  <ion-icon name="person-circle" color="texto"></ion-icon>
              </ion-col>
         </ion-row>
        </ion-grid>
        <ion-card-header class="cardheder">
          <ion-card-subtitle color="texto" class="ion-text-center">
            <ion-label>{{item.nombrePaciente | uppercase}} {{item.apellidoPaterno |uppercase}}</ion-label>
          </ion-card-subtitle>
          <ion-card-title class="ion-text-center">
            <ion-label id="subtitulo">Familiar</ion-label>
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card routerLink="nuevo" class="ion-padding" class="cards">
        <ion-item-divider></ion-item-divider> 
        <ion-grid>
          <ion-row>
              <ion-col size="12">
                  <ion-icon name="add-circle" color="texto"></ion-icon>
              </ion-col>
         </ion-row>
        </ion-grid>
        <ion-card-header>
          <ion-card-subtitle color="texto" class="ion-text-center" id="nuevo">
            <ion-label>Nuevo integrante</ion-label>
          </ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-slides  #slider loop="true" [options]="{ slidesPerView:1, autoplay: {delay: 2500} }" class="sliderLog">
    <ion-slide>
      <img src="assets/icons/logo/horizonte.png"/>
    </ion-slide>
    <ion-slide>
      <img src="assets/icons/logo/logo1.png"/>
    </ion-slide>
    <ion-slide>
      <img src="assets/icons/logo/censur.png"/>
    </ion-slide>
    <ion-slide>
      <img src="assets/icons/logo/salvandovidas.png"/>
    </ion-slide>
  </ion-slides>
</ion-content>
