.circle-pic{
    width:80px;
    height:80px;
    -webkit-border-radius: 50%;
    border-radius: 100%;
    margin-top: .1rem;
    margin-bottom: 0px;
}

.slide{
    height: 250px;
}

.sliderLog{
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

ion-row {
    text-align: center;
}

.card{
    height: 11.5rem;
    width: 9.5rem;
}

.cards{
    height: 11.5rem;
    width: 9.5rem;
    border-radius: 30px;

}

ion-item-divider{
    border: 0;
    margin-left: 35%;
    margin-top: 5%;
    margin-bottom: 0px;
    //margin-right: 25%;    
    //border-top: 5px solid #999;
    max-width: 50px;
    min-height: 4px !important;
    background-color: #999;
    box-shadow: 4px 4px 6px 1px #999;
    border-radius: 20px !important;
}

ion-icon{
    font-size: 100px;
}

ion-card-title{
    margin-top: 0px;
}

ion-card-subtitle{
    margin-bottom: 0px;
}

.cardheder ion-label{
    font-size: 1em;
    font-weight: bold;  
}

.cardheder{
    margin-top: -20px;
    padding: 0px;
}

#subtitulo{
    color: #999;
    font-size: .9rem;
}

#title{
    margin-top: 20px;
    ion-label{
        margin-top: 1rem;
        font-size: 1.4em !important;
        font-weight: bold;
        color: var(--ion-color-titulos);
    }
}

ion-col{
    padding: 11px;
}

ion-grid{
    padding: 4px;
}

.familiar ion-card-header {
    padding: 0px;
    margin: 0px;
}

#nuevo{
    margin-top: -10px;
}

#nuevo ion-label{
    font-weight: bold;
}