<ion-content class="ion-padding">
  <ion-img src="assets/icons/logo/logo1.png"></ion-img>

  <ion-text color="titulo">
    <h1 class="ion-text-center">BIENVENIDO</h1>
  </ion-text>

  
  
  <ion-button expand="block" fill="outline" class="ion-margin" color="gmail" (click)="loginGoogle()">
    <ion-icon slot="start" name="logo-google"></ion-icon>
    Continuar con Gmail
  </ion-button>
  <ion-button expand="block" fill="outline" class="ion-margin" color="facebook" routerLink="/serviciosdash">
    <ion-icon slot="start" name="logo-facebook"></ion-icon>
    Continuar con Facebook
  </ion-button>
  <ion-button expand="block" fill="outline" class="ion-margin" color="dark" routerLink="/serviciosdash">
    <ion-icon slot="start" name="logo-apple"></ion-icon>
    Continuar con Apple
  </ion-button>
  <ion-button routerLink="/login-correo" expand="block" class="ion-margin" color="primary">
    <ion-icon slot="start" name="mail-outline"></ion-icon>
      Continuar con correo
  </ion-button>

  <ion-list-header>
    <ion-label routerLink="/sign-in" class="ion-text-center" color="dark">Crear una cuenta nueva</ion-label>
  </ion-list-header>
</ion-content>
