<ion-tabs>
  <ion-tab-bar slot="bottom">

    <!-- <ion-icon src="assets/icon.png"></ion-icon> -->
    <!-- <ion-tab-button tab="premium" id="premium">
      <ion-thumbnail>
        <ion-img src="assets/icon.png"></ion-img>
      </ion-thumbnail>
      <ion-label>Premium</ion-label>
    </ion-tab-button> -->

    <ion-tab-button (click)="onClick()">
      <ion-icon name="aperture-outline"></ion-icon>
      <ion-label>Contacto</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="services">
      <ion-icon name="layers-outline"></ion-icon>
      <ion-label>Servicios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="proceedings">
      <ion-icon name="fitness-outline"></ion-icon>
      <ion-label>Expediente</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="openWhatsapp('+527352187910')">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Ajustes</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
