/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-content{
    --background: var(--ion-color-light-shade);
}
ion-toolbar{
    --background: var(--ion-color-light-shade);
}
ion-tab-bar{
    --background: var(--ion-color-light-shade);
}

.rojo, .rojo .sc-ion-action-sheet-md {
    color: red !important;
}

ion-button {
    --border-radius:10px;
    height:2.7rem;
}

ion-card{
    border-radius: 30px;
    box-shadow: 4px 4px 15px 0px var(--ion-color-primary-tint);
    background: var(--ion-color-card) !important;
}

.my-custom-class {
    //--height:15rem;
    --width:20rem;
}

.popover-class {
    --height:50rem;
    --width:25rem;
}

.my-custom-class-tarjeta{
    --height:25rem;
    --width:25rem;
}