<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
      <ion-icon slot="end" name="close-circle-outline" (click)="DismissClick()"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding"> 
   
  <ion-item>
    <ion-card-title>{{datos.nombre}}</ion-card-title>
  </ion-item>
  

<!-- <ion-card-subtitle class="ion-padding">Precios: </ion-card-subtitle> -->

<ion-grid fixed class="grid" id="primario">
  <ion-row>
    <ion-col size="6" class="ion-text-left">
      <ion-label color="primary">Precio publico de dia</ion-label>
    </ion-col>
    <ion-col size="6" class="ion-text-right">
      <ion-label color="primary" id="fecha">{{datos.dia}} MX</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6" class="ion-text-left">
      <ion-label color="primary">Precio publico de noche</ion-label>
    </ion-col>
    <ion-col size="6" class="ion-text-right">
      <ion-label color="primary" id="fecha">{{datos.noche}} MX</ion-label>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid fixed class="grid">
  <ion-row>
    <ion-col size="6" class="ion-text-left">
      <ion-label color="primary" color="tertiary">Precio membrecia de dia</ion-label>
    </ion-col>
    <ion-col size="6" class="ion-text-right">
      <ion-label color="primary" class="sexsan" color="tertiary">{{datos.membresiadia}} MX</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6" class="ion-text-left">
      <ion-label color="primary" color="tertiary">Precio membrecia de noche</ion-label>
    </ion-col>
    <ion-col size="6" class="ion-text-right">
      <ion-label color="primary" class="sexsan" color="tertiary">{{datos.membresianoche}} MX</ion-label>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="onClick()" expand="block" shape="round" color="tertiary">
     <ion-label>Adquirir Membresía</ion-label>
    </ion-button>
  </ion-toolbar>
</ion-footer>
