#title, .servicios{
    font-size: 20px;
    color: var(--ion-color-titulos);
    font-weight: bold;
}

ion-buttons{
    ion-icon{
        margin-left: 10px;
        height: 35px;
        width: 35px;
        color: var(--ion-color-botones);
    }
}

ion-avatar{
    height: 80px;
    width: 80px;
}

ion-badge{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute; 
    /* font-size: 15px; */
    border: #58D68D solid; 
    /* right: 110px; */
    padding: 0%;
    margin-top: 6px;
    margin-left: -48%;
    background-color: #58D68D;
    margin-bottom: 60%;
    color: var(--ion-color-botones);
    p{
        font-size: 20px; //Preferred size here
        margin: 2px !important;
        right: 50px;
    }
}

.slide{
    height: 250px;
}

#gineco, #pediatria{
    height: 11.5rem;
    width: 9.5rem;
    border: #58D68D solid;
    background-color: #EAFAF1 !important; 
    ion-card-content{
        margin-top: 25%;
    }
}

#laboratorios{
    .card{
        height: 11.5rem;
        width: 9.5rem;
        border: #EC7063 solid;
        background-color: #FDEDEC !important;
        ion-badge{
            border: #EC7063 solid !important;
            background-color: #EC7063;
        } 
        ion-card-content{
            margin-top: 25%;
        }
    }
}

#ultrasonidos{
    .card{
        height: 11.5rem;
        width: 9.5rem;
        border: #5DADE2  solid;
        background-color: #EBF5FB !important;
        ion-badge{
            border: #5DADE2  solid !important;
            background-color: #5DADE2;
        }
        ion-card-content{
            margin-top: 25%;
        } 
    }

}


#citas{
    background-color:#ABEBC6;
    text-align: center;
}
#lab{
    background-color:#F5B7B1;
    text-align: center;
}
#ultra{
    background-color:#AED6F1 ;
    text-align: center;
}
 




/* ion-slide{
    width: 205px;
} */

