<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>QUÍMICA SANGUÍNEA DE 6 ELEMENTOS</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-grid fixed>
        <ion-row class="titulos">
          <ion-col size="4">Elemento</ion-col>
          <ion-col size="4">Obtenido</ion-col>
          <ion-col size="4">Referencia</ion-col>
        </ion-row>
        <ion-row class="resultados">
          <ion-col size="4" id="elemento">Glucosa</ion-col>
          <ion-col size="4" id="obtenido">119.0</ion-col>
          <ion-col size="4" id="referencia">
            Adultos 70.0-105.0 mg/dL
          </ion-col>
        </ion-row>
        <ion-row class="resultados">
          <ion-col size="4" id="elemento">Urea</ion-col>
          <ion-col size="4" id="obtenido">20.0</ion-col>
          <ion-col size="4" id="referencia">
            10.0-50.0 mg/dL
          </ion-col>
        </ion-row>
        <ion-row class="resultados">
          <ion-col size="4" id="elemento">Nitrogeno ureico</ion-col>
          <ion-col size="4" id="obtenido">9.4</ion-col>
          <ion-col size="4" id="referencia">
            9.0-23.0 mg/dL
          </ion-col>
        </ion-row>
        <ion-row class="resultados">
          <ion-col size="4" id="elemento">Creatinina</ion-col>
          <ion-col size="4" id="obtenido">0.83</ion-col>
          <ion-col size="4" id="referencia">
           Mujeres 0.6-1.1 mg/dL
          </ion-col>
        </ion-row>
        <ion-row class="resultados">
          <ion-col size="4" id="elemento">Acido urico</ion-col>
          <ion-col size="4" id="obtenido">6.3</ion-col>
          <ion-col size="4" id="referencia">
           Mujeres 2.4-5.7 mg/dL
          </ion-col>
        </ion-row>
        <ion-row class="resultados">
          <ion-col size="4" id="elemento">Colesterol</ion-col>
          <ion-col size="4" id="obtenido">243.0</ion-col>
          <ion-col size="4" id="referencia">
           Normal 200.0 mg/dL
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
