ion-card{
    ion-card-header{
        ion-card-subtitle{
            text-align: center;
            color: var(--ion-color-titulos);
            font-weight: bold;
        }
    }
    ion-card-content{
        ion-row{
            margin-bottom: 30px;
        }
        .titulos{
            text-align: center;
            color: var(--ion-color-titulos);
            font-weight: bold;
        }
        .resultados{
            text-align: center;
            #obtenido{
                color: black;
                font-weight: bold;
            }
            /* #referencia{
                color: black;
                font-weight: bold;
            } */
        }
    }
    height: 600px;
}
ion-card .list-md{
    background: var(--ion-color-card);
}